<!DOCTYPE html>
<html lang="en-US">
<head>
    <title>Veterinary Medicine Information Exchange</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script
    src="https://code.jquery.com/jquery-3.7.1.min.js"
    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
    crossorigin="anonymous"></script>
    <script src="./../lib/vue/vue.js" asp-append-version="true"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./../lib/css/theme.css">
    <!-- theme -->
    <meta property="og:title" content="Veterinary Medicine Information Exchange" />
    <meta property="og:locale" content="en_US" />
    <meta name="description" content="Open standards in Veterinary Medicine Information Exchange" />
    <meta property="og:description" content="Open standards in Veterinary Medicine Information Exchange" />
    <link rel="canonical" href="https://vmie.org" />
    <meta property="og:url" content="https://vmie.org" />
    <meta property="og:site_name" content="Veterinary Medicine Information Exchange" />
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="summary" />
    <meta property="twitter:title" content="Veterinary Medicine Information Exchange" />
    <script type="application/ld+json">
    {"@context":"https://schema.org","@type":"WebSite","description":"Leap Day is a theme for GitHub Pages.","headline":"Leap Day theme","name":"Leap Day theme","url":"https://pages-themes.github.io/leap-day/"}</script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    
    <link rel="stylesheet" href="./../lib/data-tables/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="./../lib/css/mobile.table.css"/>
    <link rel="stylesheet" href="./../lib/bootstrap/css/bootstrap-icons.css">

    <link rel="stylesheet" href="./../lib/css/table.css" />
    <link rel="stylesheet" href="./../lib/css/modal.css" />
    <link rel="stylesheet" href="./../lib/css/chat.css" />
    <link rel="stylesheet" href="./../lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="./../services/accountService.js" />
</head>
<body>
    <div id="app">
        <header>
            <h1>Veterinary Medicine Information Exchange</h1>
            <p>Non-Profit Organization for providing standards on vmie.org</p>
          </header>
          
      <!-- banner start -->
      <div id="banner">
        <span id="logo"></span>

        <a v-if="!accountService.user" href="https://vmie.org:5000/api/linkedin/login" @mouseenter="loginText = 'Login with Linkedin'" class="button fork">
            <strong>
                <span style="color: blue; font-family: Sans; border: 1px solid blue; border-radius: 2px; padding: 0px 5px">in</span>
                {{loginText}}
            </strong>
        </a>
        <a v-if="accountService.user" @click="accountService.showProfile()" class="button fork">
            <strong>
                <img :src="accountService.user.avatarUrl" height="18" width="18" style="margin-right: 5px; border: 1px solid white;"/> {{accountService.user.name}}
            </strong>
        </a>     
        
        <div class="downloads">
            <span v-if="!isMobile">vmie:</span>
            <ul>
                <li v-if="!isMobile"><a href="../chat" class="button">Chat</a></li>
                <li>
                    <a @click="isMobile = !isMobile" class="button"><div style="display: inline-block;">
                        <div class="menu-bar"></div>
                        <div class="menu-bar"></div>
                        <div class="menu-bar"></div>
                    </div>
                    </a>
                </li>
            </ul>
          </div>
      </div>
      <!-- banner end -->

    <div class="wrapper">

        <section style="height: auto; background-color: #fffcf7;">
            <p v-if="htmlContent" v-html="htmlContent"></p>

            <div class="question-area" v-if="!questionsCompleted">
                <div class="question-status">
                    <span class="btn btn-light" @click="moveNext(-1)">Next question</span>
                    <span class="btn btn-light float-right" @click="moveNext(+1)">Prew question</span>
                </div>
                <div class="question">
                    <div class="question-text">
                        {{question.text}}
                    </div>
                    <div class="question-info">
                        {{question.info}}
                    </div>
                </div>
                <div>
                    <center >
                        <span class="question-actions">
                        <span class="btn btn-light">Not Agreed</span>
                        <span :class="!question.response || question.response == 1 ? 'btn btn-primary':'btn btn-light'" @click="setResponse(question, 1)">1</span>
                        <span :class="!question.response || question.response == 2 ? 'btn btn-primary':'btn btn-light'" @click="setResponse(question, 2)">2</span>
                        <span :class="!question.response || question.response == 3 ? 'btn btn-primary':'btn btn-light'" @click="setResponse(question, 3)">3</span>
                        <span :class="!question.response || question.response == 4 ? 'btn btn-primary':'btn btn-light'" @click="setResponse(question, 4)">4</span>
                        <span :class="!question.response || question.response == 5 ? 'btn btn-primary':'btn btn-light'" @click="setResponse(question, 5)">5</span>
                        <span class="btn btn-light">Totaly Agreed</span>
                    </span>
                </center>
                </div>
            </div>
            <div v-if="questionsCompleted">

                <span class="btn btn-light float-right" @click="startOver()">Start over</span>
                <br>
                Your responses:
                <br>

                <div v-for="question in questions" style="margin-bottom: 5px;" v-if="!msg.deleted">
                    <div class="question">
                        <div class="question-text">
                            {{question.text}}
                        </div>
                        <div class="text-secondary float-right">
                            Your response: {{question.response}} / 5
                        </div>
                        <br>
                    </div>
                </div>
            </div>

            <br>
            <span @click="showCreateQuestion = true">Conversation:</span>
            <div v-if="accountService.user" class="messages-area" id="messages">
                <div v-for="msg in messages" v-if="!msg.deleted">
                    <div class="message-item">
                        <span class="message-name" :class="accountService.user && msg.userId == accountService.user.id ? 'mine':''" :title="msg.name">{{msg.initials}}:</span>
                        <span class="message-text">
{{msg.message}}
<span class="actions">
<span class="float-right bin" @click="deleteMessage(msg)"><svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M3 6H21M5 6V20C5 21.1046 5.89543 22 7 22H17C18.1046 22 19 21.1046 19 20V6M8 6V4C8 2.89543 8.89543 2 10 2H14C15.1046 2 16 2.89543 16 4V6" stroke="gray" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M14 11V17" stroke="gray" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M10 11V17" stroke="gray" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg></span>
</span>
</span>
                    </div>
                </div>
            </div>
            <div class="message-area">
                <textarea :disabled="msg.sending" 
                :placeholder="accountService.user ? 'Type your toughts' : 'Please login!'" 
                v-on:keyup.enter="sendMessage()" @click="checkPrivacyAgreement()" @keyup="countCharacters()" 
                v-model="msg.message" class="message-box"></textarea>
                <span @click="sendMessage()" style="float: right; display: block; width: 32px; border-radius: 5px;">
                    <div>
                        <svg width="48" height="48" viewBox="450 1070 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path stroke="black" fill="gray" d="m458.371 1079.75-6.633.375a.243.243 0 0 0-.22.17l-.964 3.255c-.13.418-.024.886.305 1.175a1.08 1.08 0 0 0 1.205.158l8.836-4.413c.428-.214.669-.677.583-1.167-.06-.346-.303-.633-.617-.79l-8.802-4.396a1.073 1.073 0 0 0-1.183.14c-.345.288-.458.77-.325 1.198l.963 3.25c.03.097.118.165.22.17l6.632.375s.254 0 .254.25-.254.25-.254.25" stroke-width="0.5"/>
                        </svg>
                    </div>
                </span>
            </div>
            <div>
                <small @click="accountService.showUserProfile = true" v-if="accountService.user && msg.charactesLeft >= 0" class="text-secondary">{{msg.charactesLeft}} charactes left.</small>
                <small v-if="msg.charactesLeft < 0" class="text-danger">Your message was too long</small>
                <small v-if="false" @click="accountService.showProfile()" class="text-secondary float-right">Manage your privacy</small>
            
                <span v-if="chatService.dummyCont <= 0" @click="chatService.dummyCont = 20" class="messages-resume float-right">Continue</span>
            </div>
                <div class="float-right">
                    <a href="../site?page=Privacy">Privacy policy</a> 
                    <span v-if="accountService.user && accountService.user.privacyAgreed" @click="showProfile()"> agreed by you</span>
                </div>
        </section>

        <div class="float-right">
            <a v-if="!accountService.user" href="https://vmie.org:5000/api/linkedin/login" @mouseenter="loginText = 'Login with Linkedin'" class="button fork">
                <strong><span style="color: blue; font-family: Sans; border: 1px solid blue; border-radius: 2px; padding: 0px 5px">in</span>
                {{loginText}}</strong>
            </a>
            <a v-if="accountService.user" @click="accountService.showProfile()" class="button fork">
                Manage your privacy: <strong>
                    {{accountService.user.name}}
                </strong>
            </a>
            <br>
            <br>
        </div>

    </div>
    <footer>
      
        <p>
            <div><small>Code on <a href="https://github.com/vmie-org/website">GitHub</a></small></div>
            <div><small>Hosted on <a href="https://vmie.org">vmie.org</a></small></div>
            <div><small>Linkedin <a href="www.linkedin.com/in/vmie">@vmie</a></small></div>
            <div><small>Slack <a href="https://vmie.slack.com">@vmie</a></small></div>
            
        </p>
    </footer>

<!-- USER MODALS -->
<profile-component :parent="accountService"></profile-component>
<!-- USER MODALS -->
   
<!-- CREATE -->

<transition name="modal">
    <div class="modal-mask" v-if="accountService.user && showCreateQuestion">
       <div class="modal-wrapper">
          <div class="modal-container" :class="isMobile?'mobile':'w600'" :style="isMobile?'max-height:'+window.innerHeight+'px':''">
             <div>
                <div class="card" style="background-color: #F8F8F8;">
                   <div class="card-header">
                      <span class="card-title">
                      <span>Create question</span>
                      </span>
                      <div class="float-right">
                         <div class="btn btn-light" v-on:click="showCreateQuestion = false" >
                            x
                         </div>
                      </div>
                   </div>
                   <div class="card-body">
                      <p>
                         Add tags
                      </p>
                      <hr>


                      
                Tags:
                <div class="message-area">
                <textarea :disabled="msg.sending" :placeholder="accountService.user ? 'Type your toughts' : 'Please login!'" v-on:keyup.enter="sendMessage()" @click="checkPrivacyAgreement()" @keyup="countCharacters()" v-model="msg.message" class="message-box"></textarea>
                </span>
            </div>
            Question:
                      
            <div class="message-area">
                <textarea :disabled="msg.sending" :placeholder="accountService.user ? 'Type your toughts' : 'Please login!'" v-on:keyup.enter="sendMessage()" @click="checkPrivacyAgreement()" @keyup="countCharacters()" v-model="msg.message" class="message-box"></textarea>
            </div>
                   </div>
                   <div class="card-footer">
                      <div class="float-right" >
                        <div class="btn btn-secondary" v-on:click="showCreateQuestion = false">Close</div>
                        <div class="btn btn-primary" v-on:click="showCreateQuestion = false">Save</div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </transition>

 <!-- CREATE -->
  

</div>
</body>
</html>

<script type="module">
    import { vmieData } from "./../services/vmieService.js";
    import { apiService } from "./../services/apiService.js";
    import { chatService } from "./../services/chatService.js";
    import { accountService, ModalProfileComponent } from "./../services/accountService.js";

	var userService = {
		apiService: apiService,
		loginUser(user, loginUserHandler){
		},
	};

    var app = new Vue({
        el: '#app',
        components: {
            "profile-component":  ModalProfileComponent,
        },
        data: {
            apiService: apiService,
            chatService: chatService,
            accountService: accountService,

            msg: {
                charactesLeft: 255,
                text: null,
                sending: false,
            },
            messages: [],
            questions: [],
            questionIndex: 0,
            question: {},
            search: null,
            
            loggedIn: false,
            loginText: 'Login',
            isMobile: false,
            htmlContent: null,
            selectedPage: null,
            websitePages: [],
            showCreateQuestion: false,
            questionsCompleted: false,

            // decisions
            users: [],
        },
        mounted: function () {
            ModalProfileComponent.accountService = accountService;
            this.websitePages = vmieData.websitePages;

            let hrefPage = this.websitePages.find(p=> p.id == "Builder");
            if(hrefPage){
                this.selectedPage = hrefPage;
            }
            this.loadQuestions();
            this.renderPage(hrefPage);
            chatService.initialize();
            accountService.initialize(apiService, this.bus);
        },
        computed: {
        },
        methods: {
            startOver(){
                this.questions.forEach(p=>p.response = null);
                this.questionIndex = 0;
                this.questionsCompleted = false;
                this.moveNext(0);
            },
            moveNext(offset){
                if(!this.questions.find(p=>!p.response)){
                    this.questionsCompleted = true;
                    return;
                }

                this.questionIndex += offset;
                if(this.questionIndex < 0){
                    this.questionIndex = 0;
                }
                if(this.questionIndex >= this.questions.length){
                    this.questionIndex = this.questions.length - 1;
                }
                this.question = this.questions[this.questionIndex];
            },
            deleteMessage(msg){
                if(!this.user || this.user.isDummy){
                    // Debug UI without a user
                    msg.deleted = true;
                }
                apiService.postData("https://vmie.org:5000/api/chat/remove", {id: msg.id}, this.messageDeleted);
            },
            messageDeleted(msg){
                msg = this.questions.find(p=>p.id = msg.id);
                if(msg){
                    msg.deleted = true;
                }
            },
            // Messenger
            checkPrivacyAgreement(){
                if(this.user && !this.user.privacyAgreed) {
                    accountService.showProfile();
                }
            },
            countCharacters(){
                this.msg.charactesLeft = 255 - (this.msg.message ? this.msg.message.length : 0);
                if(this.msg.charactesLeft < 0){
                    this.msg.message = this.msg.message.substring(0, 255);
                }
            },
            buildAcronym(str){
                var matches = str.match(/\b(\w)/g); // ['J','S','O','N']
                return matches.join('').toUpperCase();
            },
            loadQuestions(){
                //  sw2if(accountService.simulate)
                {
                    this.questions = [
                        {
                            id: 1,
                            text: "Who has the authority to approve or deny information exchange (the practice, the patient, or both)?",
                            info: "Requires balancing patient autonomy with practice-level policies. Needs legal clarity on patient rights and practice obligations.",
                            tags: ['pet', 'owners'],
                            response: null,
                        },
                        {
                            id: 2,
                            text: "Can permissions be set at different levels (e.g., full record, specific sections, individual data points)?",
                            info: "Increases administrative burden and system complexity. Requires a structured classification of record components.",
                            tags: ['pet', 'owners'],
                            response: null,
                        },
                        {
                            id: 3,
                            text: "How are permissions granted—explicit consent per exchange or predefined settings?",
                            info: "Affects workflow efficiency. Explicit consent increases transparency but adds friction; predefined settings improve automation but require careful policy design.",
                            tags: ['pet', 'owners'],
                            response: null,
                        },
                        {
                            id: 4,
                            text: "Can permissions be changed retroactively (e.g., revoking access after approval)?",
                            info: "Needs clear rules on handling already accessed/shared data. Legal and ethical considerations may vary by jurisdiction.",
                            tags: ['pet', 'owners'],
                            response: null,
                        },
                        {
                            id: 5,
                            text: "What happens when a practice or patient does not respond to an exchange request?",
                            info: "Defines default behaviors (e.g., deny by default vs. allow non-sensitive data). Risk management needed for time-sensitive cases.",
                            tags: ['pet', 'owners'],
                            response: null,
                        },
                    ];
                    this.question = this.questions[0];
                    return;
                }
                apiService.postData("https://vmie.org:5000/api/chat/questions", { take: 50 }, this.questionsListReceived);
            },
            questionsListReceived(questions){
                questions.forEach(p => { 
                    p.response = null,
                    p.deleted = 0;
                });
                this.questions = questions;
            },
            setResponse(question, response){
                question.response = response;
                setTimeout(this.moveNext, 500, 1);                
            },

            getCookie(name) {
                var match = document.cookie.match(new RegExp('(^| )' + name + '=([^;]+)'));
                if (match) return match[2];
            },
            findGetParameter(parameterName) {
                var result = null,
                    tmp = [];
                location.search
                    .substr(1)
                    .split("&")
                    .forEach(function (item) {
                    tmp = item.split("=");
                    if (tmp[0] === parameterName) result = decodeURIComponent(tmp[1]);
                    });
                return result;
            },

            // users listing
            usesListeceived(users){
                this.users = users;
            },

            // user management 
            bus(event){
                if(event == 'UserUpdated'){
                    this.loadQuestions();
                }
            },

            // page utilities
            renderPage(page){
                this.websitePages.forEach(page => {
                    page.isSelected = false;
                });
                apiService.getText("./." + page.url, this.parseContent);
                page.isSelected = true;
            },
            parseContent(content){
                let lines = content.split('\n');

                lines = lines.map(line => line.trim());
                var tableBuilder = null;

                this.htmlContent = lines.map(line => {

                    if(!line.length){
                        if(tableBuilder){
                            var table = tableBuilder + "</table></p><p>";
                            tableBuilder = null;
                            return table;
                        }
                        return "</p><p>";
                    }

                    if(line.indexOf('#### ') === 0){
                        return `<h4>${line.substring(5)}</h4>`;
                    }
                    if(line.indexOf('### ') === 0){
                        return `<h3>${line.substring(4)}</h3>`;
                    }
                    else if(line.indexOf('## ') === 0){
                        return `<h2>${line.substring(3)}</h2>`;
                    }
                    else if(line.indexOf('# ') === 0){
                        return `<h1>${line.substring(2)}</h1>`;
                    }
                    else if(line.indexOf('![') === 0){
                        let img = line.substring(line.indexOf('(')+1);
                        let imgSource = img.split(' ')[0];
                        let imgAlt = img.substring(imgSource.length + 2);
                        imgAlt = imgAlt.substring(0, imgAlt.length-2);
                        return `<center style='color: silver; border: 1px solid #ddd'><img src='${imgSource}' alt='${imgAlt}' /><br>${imgAlt}</center>`;
                    }
                    if(line.indexOf('***') >= 0){
                        line = line.replace(/\*\*\*(.*?)\*\*\*/g, '<b><i>$1</i></b>')
                    }
                    else if(line.indexOf('**') >= 0){
                        line = line.replace(/\*\*(.*?)\*\*/g, '<b>$1</b>')
                    }
                 
                    if(line.indexOf('| ') === 0 && line.lastIndexOf(' |') == line.length-2){
                        if(!tableBuilder){
                            tableBuilder = "<table>";
                        }
                        tableBuilder += "<tr><td>" + line.substring(1, line.length-3).split(" | ").join("</td><td>") + "</td></tr>";
                        return null;
                    }

                    if(line.indexOf('-----------') == 0){
                        return '<hr>';
                    }
                    return `${line}<br/>`;
                }).join('');
            },
		}
    });

</script>
<style>
.bin{
    display: inline-block;
    height: 16px;
    width: 16px;
    fill: silver;
}
.bin:hover{
    fill: red;
    width: 22px;
}

.question-area{
background-color: aliceblue;
}
.question{
background-color: rgb(255, 253, 231);
padding: 10px;
border-radius: 10px;
border: 1px solid gray;
}
.question-actions{
    margin: 10px;
    display: inline-block;
padding: 5px 5px;
border-radius: 10px;
border: 1px solid silver;
}
.question-text{
font-weight: bold;
}
.question-info{
font-size: small;
}
</style>
