<!DOCTYPE html>
<html lang="en-US">
<head>
    <title>Veterinary Medicine Information Exchange</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script
    src="https://code.jquery.com/jquery-3.7.1.min.js"
    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
    crossorigin="anonymous"></script>
    <script src="./../lib/vue/vue.js" asp-append-version="true"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./../lib/css/theme.css">
    <!-- theme -->
    <meta property="og:title" content="Veterinary Medicine Information Exchange" />
    <meta property="og:locale" content="en_US" />
    <meta name="description" content="Open standards in Veterinary Medicine Information Exchange" />
    <meta property="og:description" content="Open standards in Veterinary Medicine Information Exchange" />
    <link rel="canonical" href="https://vmie.org" />
    <meta property="og:url" content="https://vmie.org" />
    <meta property="og:site_name" content="Veterinary Medicine Information Exchange" />
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="summary" />
    <meta property="twitter:title" content="Veterinary Medicine Information Exchange" />
    <script type="application/ld+json">
    {"@context":"https://schema.org","@type":"WebSite","description":"Leap Day is a theme for GitHub Pages.","headline":"Leap Day theme","name":"Leap Day theme","url":"https://pages-themes.github.io/leap-day/"}</script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    
    <link rel="stylesheet" href="./../lib/data-tables/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="./../lib/css/mobile.table.css"/>
    <link rel="stylesheet" href="./../lib/bootstrap/css/bootstrap-icons.css">

    <link rel="stylesheet" href="./../lib/css/table.css" />
    <link rel="stylesheet" href="./../lib/css/modal.css" />
    <link rel="stylesheet" href="./../lib/css/chat.css" />
    <link rel="stylesheet" href="./../lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="./../services/accountService.js" />
</head>
<body>
    <div id="app">
        <header>
            <h1>Veterinary Medicine Information Exchange</h1>
            <p>Non-Profit Organization for providing standards on vmie.org</p>
          </header>
          
      <!-- banner start -->
      <div id="banner">
        <span id="logo"></span>

        <a v-if="!accountService.user" href="https://vmie.org:5000/api/linkedin/login" @mouseenter="loginText = 'Login with Linkedin'" class="button fork">
            <strong>
                <span style="color: blue; font-family: Sans; border: 1px solid blue; border-radius: 2px; padding: 0px 5px">in</span>
                {{loginText}}
            </strong>
        </a>
        <a v-if="accountService.user" @click="accountService.showProfile()" class="button fork">
            <strong>
                <img :src="accountService.user.avatarUrl" height="18" width="18" style="margin-right: 5px; border: 1px solid white;"/> {{accountService.user.name}}
            </strong>
        </a>     
        
        <div class="downloads">
            <span v-if="!isMobile">vmie:</span>
            <ul>
                <li v-if="!isMobile"><a href=".." class="button">Home</a></li>
                <li>
                    <a @click="isMobile = !isMobile" class="button"><div style="display: inline-block;">
                        <div class="menu-bar"></div>
                        <div class="menu-bar"></div>
                        <div class="menu-bar"></div>
                    </div>
                    </a>
                </li>
            </ul>
          </div>
      </div>
      <!-- banner end -->

    <div class="wrapper">

        <section style="height: auto; background-color: #fffcf7;">
            <p v-if="htmlContent" v-html="htmlContent"></p>

            <div style="margin-bottom: 15px;">
                <span v-if="chatService.dummyCont <= 0" @click="chatService.dummyCont = 20" class="messages-resume">Continue</span>
                <span style="float: right; border-radius: 5px; color: gray;">
                    Search for: <input v-on:keyup.enter="searchMessages()" v-model="search"/>
                </span>
                <br>
            </div>
            <div v-if="accountService.user" class="messages-area" id="messages">
                <div v-for="msg in messages" v-if="!msg.deleted">
                    <div class="message-item">
                        <span class="message-name" :class="accountService.user && msg.userId == accountService.user.id ? 'mine':''" :title="msg.name">{{msg.initials}}:</span>
                        <span class="message-text">
{{msg.message}}
<span class="actions">
<span class="float-right bin" @click="deleteMessage(msg)"><svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M3 6H21M5 6V20C5 21.1046 5.89543 22 7 22H17C18.1046 22 19 21.1046 19 20V6M8 6V4C8 2.89543 8.89543 2 10 2H14C15.1046 2 16 2.89543 16 4V6" stroke="gray" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M14 11V17" stroke="gray" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M10 11V17" stroke="gray" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg></span>
</span>
</span>
                    </div>
                </div>
            </div>
            <div v-else class="alert alert-warning">
                <center>
                    <div>You are not logged in</div>
                    <a v-if="!accountService.user" href="https://vmie.org:5000/api/linkedin/login" @mouseenter="loginText = 'Login with Linkedin'" style="text-decoration: none; color: white; background-color: rgb(86, 145, 255) ;border: 1px solid gray; padding: 4px 10px 4px 5px; margin: 5px 5px 5px 10px; display: inline-block; border-radius: 5px;;" >
                        <strong><span style="color: rgb(255, 255, 255); font-family: Sans; border: 1px solid blue; border-radius: 2px; padding: 0px 5px">in</span>
                        Login with LinkedIn</strong>
                    </a>
                </center>
            </div>
            <div class="message-area">
                <textarea :disabled="msg.sending" :placeholder="accountService.user ? 'Type your toughts' : 'Please login!'" v-on:keyup.enter="sendMessage()" @click="checkPrivacyAgreement()" @keyup="countCharacters()" v-model="msg.message" class="message-box"></textarea>
                <span @click="sendMessage()" style="float: right; display: block; width: 32px; border-radius: 5px;">
                    <div>
                        <svg width="48" height="48" viewBox="450 1070 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path stroke="black" fill="gray" d="m458.371 1079.75-6.633.375a.243.243 0 0 0-.22.17l-.964 3.255c-.13.418-.024.886.305 1.175a1.08 1.08 0 0 0 1.205.158l8.836-4.413c.428-.214.669-.677.583-1.167-.06-.346-.303-.633-.617-.79l-8.802-4.396a1.073 1.073 0 0 0-1.183.14c-.345.288-.458.77-.325 1.198l.963 3.25c.03.097.118.165.22.17l6.632.375s.254 0 .254.25-.254.25-.254.25" stroke-width="0.5"/>
                        </svg>
                    </div>
                </span>
            </div>
            <div>
                <small @click="accountService.showUserProfile = true" v-if="accountService.user && msg.charactesLeft >= 0" class="text-secondary">{{msg.charactesLeft}} charactes left.</small>
                <small v-if="msg.charactesLeft < 0" class="text-danger">Your message was too long</small>
                <small v-if="false" @click="accountService.showProfile()" class="text-secondary float-right">Manage your privacy</small>
            
                <span v-if="chatService.dummyCont <= 0" @click="chatService.dummyCont = 20" class="messages-resume float-right">Continue</span></div>
                <div class="float-right"><a href="https://vmie.org?page=Privacy">Privacy policy</a> <span v-if="accountService.user && accountService.user.privacyAgreed" @click="showProfile()"> agreed by you</span></div>
        </section>

        <div class="float-right">
            <a v-if="!accountService.user" href="https://vmie.org:5000/api/linkedin/login" @mouseenter="loginText = 'Login with Linkedin'" class="button fork">
                <strong><span style="color: blue; font-family: Sans; border: 1px solid blue; border-radius: 2px; padding: 0px 5px">in</span>
                {{loginText}}</strong>
            </a>
            <a v-if="accountService.user" @click="accountService.showProfile()" class="button fork">
                Manage your privacy: <strong>
                    {{accountService.user.name}}
                </strong>
            </a>
            <br>
            <br>
        </div>

        <div>
            <div v-if="false" style="padding: 10px 0px 30px 0px;" v-if="users.length"> 
                Decision board is under construction
                <table class="blueTable">
                    <tr>
                        <td>Id</td>
                        <td>User</td>
                        <td>Col 1</td>
                        <td>Col 2</td>
                        <td>Col 3</td>
                    </tr>
                    <tr v-for="user in users">
                        <td>{{user.id}}</td>
                        <td>
                            <img :src="user.avatarUrl" height="24" width="24"/>
                            {{user.name}}
                        </td>
                        <td>col 1</td>
                        <td>col 2</td>
                        <td>col 3</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <footer>
      
        <p>
            <div><small>Code on <a href="https://github.com/vmie-org/website">GitHub</a></small></div>
            <div><small>Hosted on <a href="https://vmie.org">vmie.org</a></small></div>
            <div><small>Linkedin <a href="www.linkedin.com/in/vmie">@vmie</a></small></div>
            <div><small>Slack <a href="https://vmie.slack.com">@vmie</a></small></div>
            
        </p>
    </footer>

<!-- USER MODALS -->
<profile-component :parent="accountService"></profile-component>
<!-- USER MODALS -->
   

</div>
</body>
</html>

<script type="module">
    import { vmieData } from "./../services/vmieService.js";
    import { apiService } from "./../services/apiService.js";
    import { chatService } from "./../services/chatService.js";
    import { accountService, ModalProfileComponent } from "./../services/accountService.js";

	var userService = {
		apiService: apiService,
		loginUser(user, loginUserHandler){
		},
	};

    var app = new Vue({
        el: '#app',
        components: {
            "profile-component":  ModalProfileComponent,
        },
        data: {
            apiService: apiService,
            chatService: chatService,
            accountService: accountService,

            msg: {
                charactesLeft: 255,
                text: null,
                sending: false,
            },
            messages: [],
            search: null,
            
            loggedIn: false,
            loginText: 'Login',
            isMobile: false,
            htmlContent: null,
            selectedPage: null,
            websitePages: [],

            // decisions
            users: [],
        },
        mounted: function () {
            ModalProfileComponent.accountService = accountService;
            this.websitePages = vmieData.websitePages;

            let hrefPage = this.websitePages.find(p=> p.id == "Chat");
            if(hrefPage){
                this.selectedPage = hrefPage;
            }
            this.loadUsers();
            this.renderPage(hrefPage);
            chatService.initialize();
            accountService.initialize(apiService, this.bus);
        },
        computed: {
        },
        methods: {
            searchMessages(){
                var found = [];
                for(var i =0; i<50;i++){
                var index = Math.floor(Math.random() * (this.dummySentences.length - 1));
                    var name = "Anonymous User";
                    found.push({
                        deleted: 0,
                        message: this.dummySentences[index],
                        name: name,
                        initials: this.buildAcronym(name),
                        icon: name,
                    });
                }
                this.messages = found;
                const container = document.querySelector("#messages");
                container.scrollTo({ top: 0, behavior: "smooth" });
                chatService.dummyCont = 0;
            },
            deleteMessage(msg){
                if(!this.user || this.user.isDummy){
                    // Debug UI without a user
                    msg.deleted = true;
                }
                apiService.postData("https://vmie.org:5000/api/chat/remove", {id: msg.id}, this.messageDeleted);
            },
            messageDeleted(msg){
                msg = this.messages.find(p=>p.id = msg.id);
                if(msg){
                    msg.deleted = true;
                }
            },
            // Messenger
            checkPrivacyAgreement(){
                if(this.user && !this.user.privacyAgreed) {
                    accountService.showProfile();
                }
            },
            countCharacters(){
                this.msg.charactesLeft = 255 - (this.msg.message ? this.msg.message.length : 0);
                if(this.msg.charactesLeft < 0){
                    this.msg.message = this.msg.message.substring(0, 255);
                }
            },
            sendMessage(){
                if(!this.user                           ){
                    this.user = {
                        name: "Visitor " + Math.floor(Math.random() * 1000),
                        isDummy: true,
                    }
                }
                var message = this.msg.message.trim();
                var initials = this.user.name ? this.buildAcronym(this.user.name) : "AU";
                var data = { message: message, initials: initials, deleted: 0 };
                if(this.simulate){
                    this.messageSent();
                }
                else{
                    apiService.postData("https://vmie.org:5000/api/chat/send", data, this.messageSent, this.messageNotSent);
                }
                this.msg.sending = true;
            },
            messageNotSent(){ 
                this.msg.sending = false;      
                this.messages.push({
                    deleted: 0,
                    message: "Unable to send your message",
                    name: this.user.name ? this.user.name : "Anonymous User",
                    initials: this.user.name ? this.buildAcronym(this.user.name) : "AU",
                    icon: this.user ? this.user.avatarUrl : null,
                });
                Vue.nextTick(() =>{
                    const container = document.querySelector("#messages");
                    container.scrollTo({ top: container.scrollHeight, behavior: "smooth" });
                });
            },
            messageSent(){   
                this.msg.sending = false;  
                var message = this.msg.message.trim();          
                this.messages.push({
                    message: message,
                    name: this.user.name ? this.user.name : "Anonymous User",
                    initials: this.user.name ? this.buildAcronym(this.user.name) : "AU",
                    icon: this.user ? this.user.avatarUrl : null,
                    deleted: false,
                });
                Vue.nextTick(() =>{
                    const container = document.querySelector("#messages");
                    container.scrollTo({ top: container.scrollHeight, behavior: "smooth" });
                });
                this.msg.message = null;
            },
            buildAcronym(str){
                var matches = str.match(/\b(\w)/g); // ['J','S','O','N']
                return matches.join('').toUpperCase();
            },
            loadMessages(){
                apiService.postData("https://vmie.org:5000/api/chat/list", { take: 50 }, this.messagesListReceived);
            },
            messagesListReceived(messages){
                messages.forEach(p => { 
                    p.deleted = 0;
                });
                this.messages = messages;
                Vue.nextTick(() =>{
                    const container = document.querySelector("#messages");
                    container.scrollTo({ top: container.scrollHeight, behavior: "smooth" });
                });
            },


            getCookie(name) {
                var match = document.cookie.match(new RegExp('(^| )' + name + '=([^;]+)'));
                if (match) return match[2];
            },
            findGetParameter(parameterName) {
                var result = null,
                    tmp = [];
                location.search
                    .substr(1)
                    .split("&")
                    .forEach(function (item) {
                    tmp = item.split("=");
                    if (tmp[0] === parameterName) result = decodeURIComponent(tmp[1]);
                    });
                return result;
            },

            // users listing
            loadUsers(){
                apiService.postData("https://vmie.org:5000/api/user/list", { take: 20 }, this.usesListeceived);
            },
            usesListeceived(users){
                this.users = users;
            },

            // user management 
            bus(event){
                if(event == 'UserUpdated'){
                    this.loadUsers();
                    this.loadMessages();
                }
            },

            // page utilities
            renderPage(page){
                this.websitePages.forEach(page => {
                    page.isSelected = false;
                });
                apiService.getText("./." + page.url, this.parseContent);
                page.isSelected = true;
            },
            parseContent(content){
                let lines = content.split('\n');

                lines = lines.map(line => line.trim());
                var tableBuilder = null;

                this.htmlContent = lines.map(line => {

                    if(!line.length){
                        if(tableBuilder){
                            var table = tableBuilder + "</table></p><p>";
                            tableBuilder = null;
                            return table;
                        }
                        return "</p><p>";
                    }

                    if(line.indexOf('#### ') === 0){
                        return `<h4>${line.substring(5)}</h4>`;
                    }
                    if(line.indexOf('### ') === 0){
                        return `<h3>${line.substring(4)}</h3>`;
                    }
                    else if(line.indexOf('## ') === 0){
                        return `<h2>${line.substring(3)}</h2>`;
                    }
                    else if(line.indexOf('# ') === 0){
                        return `<h1>${line.substring(2)}</h1>`;
                    }
                    else if(line.indexOf('![') === 0){
                        let img = line.substring(line.indexOf('(')+1);
                        let imgSource = img.split(' ')[0];
                        let imgAlt = img.substring(imgSource.length + 2);
                        imgAlt = imgAlt.substring(0, imgAlt.length-2);
                        return `<center style='color: silver; border: 1px solid #ddd'><img src='${imgSource}' alt='${imgAlt}' /><br>${imgAlt}</center>`;
                    }
                    if(line.indexOf('***') >= 0){
                        line = line.replace(/\*\*\*(.*?)\*\*\*/g, '<b><i>$1</i></b>')
                    }
                    else if(line.indexOf('**') >= 0){
                        line = line.replace(/\*\*(.*?)\*\*/g, '<b>$1</b>')
                    }
                 
                    if(line.indexOf('| ') === 0 && line.lastIndexOf(' |') == line.length-2){
                        if(!tableBuilder){
                            tableBuilder = "<table>";
                        }
                        tableBuilder += "<tr><td>" + line.substring(1, line.length-3).split(" | ").join("</td><td>") + "</td></tr>";
                        return null;
                    }

                    if(line.indexOf('-----------') == 0){
                        return '<hr>';
                    }
                    return `${line}<br/>`;
                }).join('');
            },
		}
    });

</script>
<style>
.bin{
    display: inline-block;
    height: 16px;
    width: 16px;
    fill: silver;
}
.bin:hover{
    fill: red;
    width: 22px;
}
</style>
