<!DOCTYPE html>
<html lang="en-US">
<head>
    <title>Veterinary Medicine Information Exchange</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script
    src="https://code.jquery.com/jquery-3.7.1.min.js"
    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
    crossorigin="anonymous"></script>
    <script src="./../lib/vue/vue.js" asp-append-version="true"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./../lib/css/theme.css">
    <!-- theme -->
    <meta property="og:title" content="Veterinary Medicine Information Exchange" />
    <meta property="og:locale" content="en_US" />
    <meta name="description" content="Open standards in Veterinary Medicine Information Exchange" />
    <meta property="og:description" content="Open standards in Veterinary Medicine Information Exchange" />
    <link rel="canonical" href="https://vmie.org" />
    <meta property="og:url" content="https://vmie.org" />
    <meta property="og:site_name" content="Veterinary Medicine Information Exchange" />
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="summary" />
    <meta property="twitter:title" content="Veterinary Medicine Information Exchange" />
    <script type="application/ld+json">
    {"@context":"https://schema.org","@type":"WebSite","description":"Leap Day is a theme for GitHub Pages.","headline":"Leap Day theme","name":"Leap Day theme","url":"https://pages-themes.github.io/leap-day/"}</script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    
    <link rel="stylesheet" href="./../lib/data-tables/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="./../lib/css/mobile.table.css"/>
    <link rel="stylesheet" href="./../lib/bootstrap/css/bootstrap-icons.css">

    <link rel="stylesheet" href="./../lib/css/table.css" />
    <link rel="stylesheet" href="./../lib/css/modal.css" />
    <link rel="stylesheet" href="./../lib/bootstrap/css/bootstrap.min.css" />
</head>
<body>
    <div id="app">
        <header>
            <h1>Veterinary Medicine Information Exchange</h1>
            <p>Non-Profit Organization for providing standards on vmie.org</p>
          </header>
          
      <!-- banner start -->
      <div id="banner">
        <span id="logo"></span>

        <a v-if="!user" href="https://vmie.org:5000/api/linkedin/login" @mouseenter="loginText = 'Login with Linkedin'" class="button fork">
            <strong>
                <span style="color: blue; font-family: Sans; border: 1px solid blue; border-radius: 2px; padding: 0px 5px">in</span>
                {{loginText}}
            </strong>
        </a>
        <a v-if="user" @click="showProfile()" class="button fork">
            <strong>
                {{user.name}}
            </strong>
        </a>     
        
        <div class="downloads">
            <span v-if="!isMobile">Free:</span>
            <ul>
                <li v-if="!isMobile"><a href=".." class="button">Home</a></li>
                <li>
                    <a @click="isMobile = !isMobile" class="button"><div style="display: inline-block;">
                        <div class="menu-bar"></div>
                        <div class="menu-bar"></div>
                        <div class="menu-bar"></div>
                    </div>
                    </a>
                </li>
            </ul>
          </div>
      </div>
      <!-- banner end -->

    <div class="wrapper">

        <section style="height: auto;">
            <p v-if="htmlContent" v-html="htmlContent"></p>

            <div class="messages-area">
                <div v-for="msg in messages">
                    <span class="message-name" :class="user && msg.userId == user.userId ? 'mine':''" :title="msg.name">{{msg.initials}}:</span>
                    {{msg.text}}
                </div>
            </div>
            <div class="message-area">
                <textarea :disabled="msg.sending" placeholder="Type your toughts" v-on:keyup.enter="sendMessage()" @keyup="countCharacters()" v-model="msg.text" class="message-box"></textarea>
                <span @click="sendMessage()" style="display: inline-block; background-color: aquamarine; width: 40px; vertical-align: middle; border-radius: 5px;"><div>Send<br>now</div></span>
            </div>
            <div>
                <small v-if="msg.charactesLeft >= 0" class="text-secondary">{{msg.charactesLeft}} charactes left.</small>
                <small v-if="msg.charactesLeft < 0" class="text-danger">Your message was too long</small>
                <small @click="showProfile = true" class="text-secondary float-right">Manage your privacy</small>
            </div>
        </section>

        <div class="float-right">
            <a v-if="!user" href="https://vmie.org:5000/api/linkedin/login" @mouseenter="loginText = 'Login with Linkedin'" class="button fork">
                <strong><span style="color: blue; font-family: Sans; border: 1px solid blue; border-radius: 2px; padding: 0px 5px">in</span>
                {{loginText}}</strong>
            </a>
            <a v-if="user" @click="showProfile()" class="button fork">
                Manage your privacy: <strong>
                    {{user.name}}
                </strong>
            </a>
            <br>
            <br>
        </div>

        <div>
            <div v-if="false" style="padding: 10px 0px 30px 0px;" v-if="users.length"> 
                Decision board is under construction
                <table class="blueTable">
                    <tr>
                        <td>Id</td>
                        <td>User</td>
                        <td>Col 1</td>
                        <td>Col 2</td>
                        <td>Col 3</td>
                    </tr>
                    <tr v-for="user in users">
                        <td>{{user.id}}</td>
                        <td>
                            <img :src="user.avatarUrl" height="24" width="24"/>
                            {{user.name}}
                        </td>
                        <td>col 1</td>
                        <td>col 2</td>
                        <td>col 3</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <footer>
      
        <p>
            <div><small>Code on <a href="https://github.com/vmie-org/website">GitHub</a></small></div>
            <div><small>Hosted on <a href="https://vmie.org">vmie.org</a></small></div>
            <div><small>Linkedin <a href="www.linkedin.com/in/vmie">@vmie</a></small></div>
            <div><small>Slack <a href="https://vmie.slack.com">@vmie</a></small></div>
            
        </p>
    </footer>

  <!-- USER MODAL -->
   
  <transition name="modal">
    <div class="modal-mask" v-if="user && showUserProfile">
        <div class="modal-wrapper">
            <div class="modal-container" :class="isMobile?'mobile':'w600'" :style="isMobile?'max-height:'+window.innerHeight+'px':''">
                
<div>
    <div class="card" style="background-color: #F8F8F8;">
        <div class="card-header">
                <span class="card-title">
                    <span class="btn btn-primary" @click="logout()">Logout</span>
                </span>
                <div class="float-right">
                    <div class="btn btn-light" v-on:click="showUserProfile = false" >
                        x
                    </div>                    
                </div>
        </div>
        <div class="card-body">
            <p>
            Privacy first
            </p>
            <p>
                <div class="alert alert-warning">
                    <div class="btn btn-secondary float-right" v-on:click="user.nameVisibility = 1; updateAccount()" v-if="!user.nameVisibility" title="Make your name public">show my Name</div>
                    <div class="btn btn-secondary float-right" v-on:click="user.nameVisibility = 0; updateAccount()" v-if="user.nameVisibility" title="Make your name private">hide my Name</div>
                
                    <div>Your avatar is now <b v-if="user.nameVisibility">visible</b><b v-if="! user.nameVisibility" style="color: red; font-weight: bold;">not visible</b> to all users.</div>
                    <small style="color: gray">Collected at signin from Linkedin.</small>                        
                </div>
                <div class="alert alert-warning">
                    <div class="btn btn-secondary float-right" v-on:click="user.avatarVisibility = 1; updateAccount()" v-if="!user.avatarVisibility" title="Make your image public">show my Image</div>
                    <div class="btn btn-secondary float-right" v-on:click="user.avatarVisibility = 0; updateAccount()" v-if="user.avatarVisibility" title="Make your image private">hide my Image</div>
                
                    <div>Your name is now <b v-if="user.avatarVisibility">visible</b><b v-if="!user.avatarVisibility" style="color: red; font-weight: bold;">not visible</b> to all users.</div>
                    <small style="color: gray">Collected at signin from Linkedin.</small>  
                </div>
            </p>
            
            <p v-if="!user.nameVisibility || !user.avatarVisibility">
                For transparecy of decisions, we advice you to keep your information public. If you hide your personal information from other members your influence in making decisions can be affected.
            </p>      
        </div>

        <div class="card-footer">

    <div class="float-left">
        <div class="btn btn-danger" v-on:click="deleteAccount()">Delete my account</div>
    </div>
    <div class="float-right" >
        <div class="btn btn-secondary" v-on:click="showUserProfile = false">Close</div>
    </div>
        </div>
</div>
            </div>
        </div>
        </div>
    </div>
</transition>





   
<transition name="modal">
    <div class="modal-mask" v-if="user && showUserDeleted">
        <div class="modal-wrapper">
            <div class="modal-container" :class="isMobile?'mobile':'w600'" :style="isMobile?'max-height:'+window.innerHeight+'px':''">
                
<div>
    <div class="card" style="background-color: #F8F8F8;">
        <div class="card-header">
            <span class="card-title">
                <span>Account Deleted</span>
            </span>
                <div class="float-right">
                    <div class="btn btn-light" v-on:click="showUserDeleted = false" >
                        x
                    </div>
                </div>
        </div>
        <div class="card-body">
            <p>
            Your user has been deleted. <br>
            You can login with LinkedIn to create a new account. 
            </p>    
        </div>

        <div class="card-footer">
    <div class="float-right" >
        <div class="btn btn-secondary" v-on:click="showUserDeleted = false">Close</div>
    </div>
        </div>
</div>
            </div>
        </div>
        </div>
    </div>
</transition>
<!-- USER MODAL -->

</div>
</body>
</html>

<script>


    
var apiService = {
        jwt: null,
		postData(url, payload, handler){
			var context = this;
			$.ajax({
				headers: {
					"Authorization": "Bearer "  + this.jwt,
				},
				url: url,
				contentType: "application/json; charset=utf-8",
				dataType: "json",
				type: "POST",
				data: JSON.stringify(payload)
			}).done(function (data) {
				handler(data);
			}).fail(function (data) {
			});
		},
		getData(url, handler){
			var context = this;
			$.ajax({
				headers: {
					"Authorization": "Bearer "  + this.jwt,
				},
				url: url,
				contentType: "application/json; charset=utf-8",
				dataType: "json",
				type: "GET"
			}).done(function (data) {
				handler(data);
			}).fail(function (data) {
			});
		},
		getText(url, handler){
			var context = this;
			$.ajax({
				headers: {
					"Authorization": "Bearer "  + this.jwt,
				},
				url: url,
				contentType: "application/text; charset=utf-8",
                dataType: "text",
				type: "GET"
			}).done(function (data) {
				handler(data);
			}).fail(function (data) {
			});
		}
	};

	var userService = {
		apiService: apiService,
		loginUser(user, loginUserHandler){
		},
	};

    var app = new Vue({
        el: '#app',
        data: {
            msg: {
                charactesLeft: 255,
                text: null,
                sending: false,
            },
            messages: [],

            loggedIn: false,
            loginText: 'Login',
            isMobile: false,
            apiService: apiService,
            htmlContent: null,
            selectedPage: null,
            websitePages: [
                {
                    id: "Welcome",
                    title: "Our Mission",
                    url: "./content/index.txt",
                    isSelected: false,
                },
                {
                    id: "Compatibility",
                    title: "Compatibility check",
                    url: "./content/compatibility.txt",
                    isSelected: false,
                },
                {
                    id: "Security",
                    title: "Information and Security",
                    url: "./content/security.txt",
                    isSelected: false,
                },
                {
                    id: "Architecture",
                    title: "Software Architecture",
                    url: "./content/architecture.txt",
                    isSelected: false,
                },
                {
                    id: "Join",
                    title: "Join our Data Exchange Programm",
                    url: "./content/applications.txt",
                    isSelected: false,
                },
                {
                    id: "Privacy",
                    title: null,
                    url: "./content/privacy.txt",
                    isSelected: false,
                },
                {
                    id: "Decisions",
                    title:  "Decision Board",
                    url: "./content/decisions.txt",
                    isSelected: false,
                },
                {
                    id: "Chat",
                    title:  "Public chat space",
                    url: "./content/chat.txt",
                    isSelected: false,
                },
            ],

            // user management
            user: null,
            showUserProfile: false,
            showUserDeleted: false,

            // decisions
            users: [],
        },
        mounted: function () {

            let hrefPage = this.websitePages.find(p=> p.id == "Chat");
            if(hrefPage){
                this.selectedPage = hrefPage;
            }
            this.loadUsers();
            this.loadMessages();
            this.renderPage(hrefPage);

            var session = localStorage.getItem('session');
            if(session){
                session = JSON.parse(session);
                if(session){
                    apiService.jwt = session.jwt;
                    this.getUserInfo();
                }
            }
            else if(!apiService.jwt){
                let sessionId = this.findGetParameter('session');
                if(sessionId){
                    this.getUserSession(sessionId);
                }
            }
        },
        computed: {
        },
        methods: {
            // Messenger
            countCharacters(){
                this.msg.charactesLeft = 255 - (this.msg.text ? this.msg.text.length : 0);
                if(this.msg.charactesLeft < 0){
                    this.msg.text = this.msg.text.substring(0, 255);
                }
            },
            sendMessage(){
                if(!this.user){
                    this.msg.text = "Please login!";
                    return;
                }
                var text = this.msg.text.trim();
                var initials = this.user.name ? this.buildAcronym(this.user.name) : "AU";
                apiService.postData("https://vmie.org:5000/api/chat/send", { message: text, initials: initials }, this.messageSent);
                this.msg.sending = true;
            },
            messageSent(){   
                this.msg.sending = false;            
                this.messages.push({
                    text: text,
                    name: this.user.name ? this.user.name : "Anonymous User",
                    initials: this.user.name ? this.buildAcronym(this.user.name) : "AU",
                    icon: this.user ? this.user.avatarUrl : null,
                });
                this.msg.text = null;
            },
            buildAcronym(str){
                var matches = str.match(/\b(\w)/g); // ['J','S','O','N']
                return matches.join('').toUpperCase();
            },
            loadMessages(){
                apiService.postData("https://vmie.org:5000/api/messages/list", { take: 50 }, this.messagesListReceived);
            },
            messagesListReceived(messages){
                this.messages = messages;
            },


            getCookie(name) {
                var match = document.cookie.match(new RegExp('(^| )' + name + '=([^;]+)'));
                if (match) return match[2];
            },
            findGetParameter(parameterName) {
                var result = null,
                    tmp = [];
                location.search
                    .substr(1)
                    .split("&")
                    .forEach(function (item) {
                    tmp = item.split("=");
                    if (tmp[0] === parameterName) result = decodeURIComponent(tmp[1]);
                    });
                return result;
            },

            // users listing
            loadUsers(){
                apiService.postData("https://vmie.org:5000/api/user/list", { take: 20 }, this.usesListeceived);
            },
            usesListeceived(users){
                this.users = users;
            },

            // user management  
            logout(){
                this.apiService.getData("https://vmie.org:5000/api/logout");
                this.user = null;
            },
            login(){
                this.apiService.getData("https://vmie.org:5000/api/linkedin/login");
                ///apiService.getData("https://www.linkedin.com/oauth/v2/authorization?response_type=code&client_id=77uny28orqmlmv&redirect_uri=https://vmie.org:5000/api/linkedin/callback&scope=profile%20email%20openid&state=fabaecf3-288e-4c22-bc2c-c07208231f97");
                //apiService.getData("https://www.linkedin.com/oauth/v2/authorization?response_type=code&client_id=77uny28orqmlmv&redirect_uri=https://vmie.org:5000/api/linkedin/callback&scope=profile%20email%20openid&state=fabaecf3-288e-4c22-bc2c-c07208231f97");
            },
            getUserSession(sessionId){
                apiService.getData("https://vmie.org:5000/api/user/session?session=" + sessionId, this.userSessionReceived);
            },
            userSessionReceived(session){
                localStorage.setItem("session", JSON.stringify(session));
                this.getUserInfo();
            },
            getUserInfo(){
                apiService.getData("https://vmie.org:5000/api/user/info", this.userInfoReceived);
            },
            userInfoReceived(user){
                if(user && user.name == 'DELETED'){
                    this.showUserProfile = false;
                    this.showUserDeleted = true;
                }
                this.user = user;
            },
            showProfile(){
                this.showUserProfile = true;
            },
            updateAccount(){
                apiService.postData("https://vmie.org:5000/api/user/info", this.user, this.userInfoReceived);
            },
            deleteAccount(){
                apiService.postData("https://vmie.org:5000/api/user/delete", this.user, this.userInfoReceived);
            },

            // page utilities
            renderPage(page){
                this.websitePages.forEach(page => {
                    page.isSelected = false;
                });
                apiService.getText("./." + page.url, this.parseContent);
                page.isSelected = true;
            },
            parseContent(content){
                let lines = content.split('\n');

                lines = lines.map(line => line.trim());
                var tableBuilder = null;

                this.htmlContent = lines.map(line => {

                    if(!line.length){
                        if(tableBuilder){
                            var table = tableBuilder + "</table></p><p>";
                            tableBuilder = null;
                            return table;
                        }
                        return "</p><p>";
                    }

                    if(line.indexOf('#### ') === 0){
                        return `<h4>${line.substring(5)}</h4>`;
                    }
                    if(line.indexOf('### ') === 0){
                        return `<h3>${line.substring(4)}</h3>`;
                    }
                    else if(line.indexOf('## ') === 0){
                        return `<h2>${line.substring(3)}</h2>`;
                    }
                    else if(line.indexOf('# ') === 0){
                        return `<h1>${line.substring(2)}</h1>`;
                    }
                    else if(line.indexOf('![') === 0){
                        let img = line.substring(line.indexOf('(')+1);
                        let imgSource = img.split(' ')[0];
                        let imgAlt = img.substring(imgSource.length + 2);
                        imgAlt = imgAlt.substring(0, imgAlt.length-2);
                        return `<center style='color: silver; border: 1px solid #ddd'><img src='${imgSource}' alt='${imgAlt}' /><br>${imgAlt}</center>`;
                    }
                    if(line.indexOf('***') >= 0){
                        line = line.replace(/\*\*\*(.*?)\*\*\*/g, '<b><i>$1</i></b>')
                    }
                    else if(line.indexOf('**') >= 0){
                        line = line.replace(/\*\*(.*?)\*\*/g, '<b>$1</b>')
                    }
                 
                    if(line.indexOf('| ') === 0 && line.lastIndexOf(' |') == line.length-2){
                        if(!tableBuilder){
                            tableBuilder = "<table>";
                        }
                        tableBuilder += "<tr><td>" + line.substring(1, line.length-3).split(" | ").join("</td><td>") + "</td></tr>";
                        return null;
                    }

                    if(line.indexOf('-----------') == 0){
                        return '<hr>';
                    }
                    return `${line}<br/>`;
                }).join('');
            },
		}
    });

</script>
<style>
    .message-area{        
        border: 1px solid gray;
        border-radius: 5px;
        margin: 5px;
    }
    .messages-area{        
        border: 1px solid silver;
        border-radius: 2px;
    }
    .message-name{
        color: gray;
        font-style: italic; 
    }
    .mine {
        font-weight: bold; 
    }

    .message-box{
        width: 90%;
        background: rgb(255, 255, 255);
        border: 1px solid gray;
        outline: 0;
        cursor: text;
        resize: none;
    }
</style>
