<!DOCTYPE html>
<html lang="en-US">
<head>
    <title>vmie.org - profile</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script
    src="https://code.jquery.com/jquery-3.7.1.min.js"
    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
    crossorigin="anonymous"></script>
    <script src="./../lib/vue/vue.js" asp-append-version="true"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./../lib/css/theme.css">
    <!-- theme -->
    <meta property="og:title" content="Veterinary Medicine Information Exchange" />
    <meta property="og:locale" content="en_US" />
    <meta name="description" content="Open standards in Veterinary Medicine Information Exchange" />
    <meta property="og:description" content="Open standards in Veterinary Medicine Information Exchange" />
    <link rel="canonical" href="https://vmie.org" />
    <meta property="og:url" content="https://vmie.org" />
    <meta property="og:site_name" content="Veterinary Medicine Information Exchange" />
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="summary" />
    <meta property="twitter:title" content="Veterinary Medicine Information Exchange" />
    <script type="application/ld+json">
    {"@context":"https://schema.org","@type":"WebSite","description":"Leap Day is a theme for GitHub Pages.","headline":"Leap Day theme","name":"Leap Day theme","url":"https://pages-themes.github.io/leap-day/"}</script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    
    <link rel="stylesheet" href="./../lib/data-tables/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="./../lib/css/mobile.table.css"/>
    <link rel="stylesheet" href="./../lib/bootstrap/css/bootstrap-icons.css">

    <link rel="stylesheet" href="./../lib/css/table.css" />
    <link rel="stylesheet" href="./../lib/css/modal.css" />
    <link rel="stylesheet" href="./../lib/css/chat.css" />
    <link rel="stylesheet" href="./../lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="./../services/accountService.js" /><!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-V2CY4R09SB"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'G-V2CY4R09SB');
    </script>
    <script src="./../lib/moment/moment.min.js"></script>
</head>
<body>
    <div id="app">
        <header style="padding: 0px">
            <div class="disclaimer-banner">{{accountService.disclaimer}}</div>
            <h1>Veterinary Medicine Information Exchange</h1>
            <p>Non-Profit Organization for providing standards on vmie.org</p>
          </header>
          
      <!-- banner start -->
      <div id="banner" @mouseenter="accountService.showComplex = true">
        <span id="logo"></span>

        <a v-if="!accountService.user" href="https://vmie.org:5000/api/linkedin/login" @mouseenter="accountService.loginText = 'Login with Linkedin'" class="button fork">
            <strong>
                <span style="color: blue; font-family: Sans; border: 1px solid blue; border-radius: 2px; padding: 0px 5px">in</span>
                {{accountService.loginText}}
            </strong>
        </a>
        <a v-if="accountService.user" @click="accountService.showProfile()" class="button fork">
            <strong>
                <img :src="accountService.user.avatarUrl" height="18" width="18" style="margin-right: 5px; border: 1px solid white;"/> {{accountService.user.name}}
            </strong>
        </a>     
        
        <div class="downloads">
            <span v-if="!isMobile">vmie:</span>
            <ul>
                <li v-if="!isMobile"><a href="../site/?page=Architecture" class="button">Docs</a></li>
                <li>
                    <a @click="isMobile = !isMobile" class="button"><div style="display: inline-block;">
                        <div class="menu-bar"></div>
                        <div class="menu-bar"></div>
                        <div class="menu-bar"></div>
                    </div>
                    </a>
                </li>
            </ul>
          </div>
      </div>
      <!-- banner end -->

    <div class="wrapper">
        <side-menu-component :account-service="accountService" :parent="this"></side-menu-component>

        <section style="height: auto; background-color: #fffcf7;">
            <pet-header-component :pet-service="petService" :account-service="accountService"></pet-header-component>
            <pet-editor-component :pet-service="petService" :account-service="accountService"></pet-editor-component>

            <div v-if="isMobile" style="display: inline-block; margin-left: 0px; left: 20px;">
                <span v-for="(page, index) in websitePages" v-if="index > 0 && page.title " 
                     @click="renderPage(page)"><a class="btn btn-light pagename" :class="page.isSelected ? 'active' : ''" :href="'./../'+ page.url +'?page=' + page.id">
                    {{page.id}}
                </a></span>
                <hr>
            </div> 

            <p v-if="htmlContent" v-html="htmlContent"></p>

            <div class="question-area" v-if="!questionsCompleted">
                <div class="question-status">
                    <span class="btn btn-light" @click="moveNext(-1)">Next pet</span>
                    <span class="btn btn-light float-right" @click="moveNext(+1)">Prew pet</span>
                </div>
                <div class="question">
                    <div class="question-text">
                        {{question.text}}
                    </div>
                    <div class="question-info">
                        {{question.info}}
                    </div>
                </div>
                <div>
                    <center >
                        Self assesement of healthy state
                        <div style="color: gray">use your own perception, no medical evidence is needed</div>
                        <span class="question-actions">
                        <span class="text-secondary">Health degree: </span>
                        <span :class="!question.response || question.response == 1 ? 'btn btn-primary':'btn btn-light'" @click="setResponse(question, 1)">1</span>
                        <span :class="!question.response || question.response == 2 ? 'btn btn-primary':'btn btn-light'" @click="setResponse(question, 2)">2</span>
                        <span :class="!question.response || question.response == 3 ? 'btn btn-primary':'btn btn-light'" @click="setResponse(question, 3)">3</span>
                        <span :class="!question.response || question.response == 4 ? 'btn btn-primary':'btn btn-light'" @click="setResponse(question, 4)">4</span>
                        <span :class="!question.response || question.response == 5 ? 'btn btn-primary':'btn btn-light'" @click="setResponse(question, 5)">5</span>
                            <div>
                                <hr class="slim"/>
                                <small class="text-secondary">1 means really sick, 5 means really healthy</small>
                            </div>
                    </span>
                </center>
                </div>
            </div>
            <div v-if="questionsCompleted">

                <span class="btn btn-light float-right" @click="startOver()">Quiz</span>
                <br>
                Available pets:
                <br>

                <div v-for="pet in questions" style="margin-bottom: 5px;" v-if="!pet.deleted">
                    <div class="question" @click="pet.editState = !pet.editState">
                        <div class="btn btn-light float-right" @click="selectTask(pet)">
                            <span style="margin-bottom: 0; color: black">View profile</span>
                        </div>
                        <div class="question-text">
                            {{pet.text}}
                            <small v-for="skill in pet.skills"><span class="skill">{{skill}}</span></small>
                            <small v-for="tag in pet.tags"><a :href="getProjectUrlByTitle(tag)" class="tag">{{tag}}</a></small>
                        </div>
                        <div class="text-secondary"> {{pet.info}} <small class="text-primary"><span @click.stop="pet.readMore = !pet.readMore" v-if="pet.status">Settings</span></small></div>
                        <div v-if="pet.readMore"> 
                            <div class="btn btn-danger float-right" @click="deletePet(pet)">Delete this pet forever</div>
                            <br>
                            <br>
                        </div>
                        <div @click.stop="" v-if="pet.editState" style="background-color: white; border-radius: 10px; border: 1px solid silver;">
                            <center >
                                <span class="question-actions">
                                <div class="text-secondary">Healthy-ness degree: </div>
                                <span :class="!pet.responses[0] || pet.responses[0] == 1 ? 'btn btn-primary':'btn btn-light'" @click="setResponse(pet, 1, 0)">1</span>
                                <span :class="!pet.responses[0] || pet.responses[0] == 2 ? 'btn btn-primary':'btn btn-light'" @click="setResponse(pet, 2, 0)">2</span>
                                <span :class="!pet.responses[0] || pet.responses[0] == 3 ? 'btn btn-primary':'btn btn-light'" @click="setResponse(pet, 3, 0)">3</span>
                                <span :class="!pet.responses[0] || pet.responses[0] == 4 ? 'btn btn-primary':'btn btn-light'" @click="setResponse(pet, 4, 0)">4</span>
                                <span :class="!pet.responses[0] || pet.responses[0] == 5 ? 'btn btn-primary':'btn btn-light'" @click="setResponse(pet, 5, 0)">5</span>
                                    <div>
                                        <hr class="slim"/>
                                        <div style="color: gray"><small>use your own perception, no medical evidence is needed</small></div>
                                        <small class="text-secondary">1 means really sick, 5 means really healthy</small>
                                    </div>
                                </span>
                            </center>
                            <center >
                                <span class="question-actions">
                                <div class="text-secondary">Happy-ness degree: </div>
                                <span :class="!pet.responses[1] || pet.responses[1] == 1 ? 'btn btn-primary':'btn btn-light'" @click="setResponse(pet, 1, 1)">1</span>
                                <span :class="!pet.responses[1] || pet.responses[1] == 2 ? 'btn btn-primary':'btn btn-light'" @click="setResponse(pet, 2, 1)">2</span>
                                <span :class="!pet.responses[1] || pet.responses[1] == 3 ? 'btn btn-primary':'btn btn-light'" @click="setResponse(pet, 3, 1)">3</span>
                                <span :class="!pet.responses[1] || pet.responses[1] == 4 ? 'btn btn-primary':'btn btn-light'" @click="setResponse(pet, 4, 1)">4</span>
                                <span :class="!pet.responses[1] || pet.responses[1] == 5 ? 'btn btn-primary':'btn btn-light'" @click="setResponse(pet, 5, 1)">5</span>
                                    <div>
                                        <hr class="slim"/>
                                        <div style="color: gray"><small>use your own perception, no medical evidence is needed</small></div>
                                        <small class="text-secondary">1 means really happy, 5 means really unhappy</small>
                                    </div>
                                </span>
                            </center>
                            <center >
                                <span class="question-actions">
                                <div class="text-secondary">Smart-ness degree: </div>
                                <span :class="!pet.responses[2] || pet.responses[2] == 1 ? 'btn btn-primary':'btn btn-light'" @click="setResponse(pet, 1, 2)">1</span>
                                <span :class="!pet.responses[2] || pet.responses[2] == 2 ? 'btn btn-primary':'btn btn-light'" @click="setResponse(pet, 2, 2)">2</span>
                                <span :class="!pet.responses[2] || pet.responses[2] == 3 ? 'btn btn-primary':'btn btn-light'" @click="setResponse(pet, 3, 2)">3</span>
                                <span :class="!pet.responses[2] || pet.responses[2] == 4 ? 'btn btn-primary':'btn btn-light'" @click="setResponse(pet, 4, 2)">4</span>
                                <span :class="!pet.responses[2] || pet.responses[2] == 5 ? 'btn btn-primary':'btn btn-light'" @click="setResponse(pet, 5, 2)">5</span>
                                    <div>
                                        <hr class="slim"/>
                                        <div style="color: gray"><small>use your own perception, no medical evidence is needed</small></div>
                                        <small class="text-secondary">1 means really not-smart, 5 means really smart</small>
                                    </div>
                                </span>
                            </center>
                        </div>
                    </div>
                </div>
            </div>

            <br>
            <span @click="showCreateQuestion = true">Conversation:</span>
            <chat-component :chat-service="chatService" :account-service="accountService" :take="5" :scope-id="messengerScopeId"></chat-component>
        </section>

        <div class="float-right">
            <a v-if="!accountService.user" href="https://vmie.org:5000/api/linkedin/login" @mouseenter="accountService.loginText = 'Login with Linkedin'" class="button fork">
                <strong><span style="color: blue; font-family: Sans; border: 1px solid blue; border-radius: 2px; padding: 0px 5px">in</span>
                {{accountService.loginText}}</strong>
            </a>
            <a v-if="accountService.user" @click="accountService.showProfile()" class="button fork">
                Manage your privacy: <strong>
                    {{accountService.user.name}}
                </strong>
            </a>
            <br>
            <br>
        </div>

    </div>
    <footer>
      
        <p>
            <div><small>Code on <a href="https://github.com/vmie-org/website">GitHub</a></small></div>
            <div><small>Hosted on <a href="https://vmie.org">vmie.org</a></small></div>
            <div><small>Linkedin <a href="www.linkedin.com/in/vmie">@vmie</a></small></div>
            <div><small>Slack <a href="https://vmie.slack.com">@vmie</a></small></div>
            <div><small>Dev.to <a href="https://dev.to/vmie">@vmie</a></small></div>
            
        </p>
    </footer>

<!-- USER MODALS -->
<profile-component :parent="accountService"></profile-component>
<!-- USER MODALS -->
   
<!-- CREATE -->

<transition name="modal" v-cloak>
    <div class="modal-mask" v-if="accountService.user && showCreateQuestion">
       <div class="modal-wrapper">
          <div class="modal-container" :class="accountService.isMobile?'mobile':'w600'" :style="accountService.isMobile?'max-height:'+window.innerHeight+'px':''">
             <div>
                <div class="card" style="background-color: #F8F8F8;">
                   <div class="card-header">
                      <span class="card-title">
                      <span>Create question</span>
                      </span>
                      <div class="float-right">
                         <div class="btn btn-light" v-on:click="showCreateQuestion = false" >
                            x
                         </div>
                      </div>
                   </div>
                   <div class="card-body">
                      <p>
                         Add tags
                      </p>
                      <hr>


                      
                Tags:
                <div class="message-area">
                </span>
            </div>
            Question:
                      
                   </div>
                   <div class="card-footer">
                      <div class="float-right" >
                        <div class="btn btn-secondary" v-on:click="showCreateQuestion = false">Close</div>
                        <div class="btn btn-primary" v-on:click="showCreateQuestion = false">Save</div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </transition>

 <!-- CREATE -->
  {{index}}

</div>
</body>
</html>

<script type="module">
    import { vmieData } from "./../services/vmieService.js";
    import { petService, PetHeaderComponent, PetEditorComponent } from "./../services/petService.js";
    import { apiService } from "./../services/apiService.js";
    import { chatService, ChatComponent } from "./../services/chatService.js";
    import { accountService, ModalProfileComponent, SideMenuCompoonent } from "./../services/accountService.js";

    var app = new Vue({
        el: '#app',
        components: {
            "profile-component":  ModalProfileComponent,
            "chat-component":  ChatComponent,
            "side-menu-component": SideMenuCompoonent,
            "pet-header-component":  PetHeaderComponent,
            "pet-editor-component":  PetEditorComponent,
        },
        data: {
            messengerScopeId: 4,
            taskUsers: [],
            apiService: apiService,
            chatService: chatService,
            accountService: accountService,
            petService: petService,

            questions: [],
            questionIndex: 0,
            question: {},
            search: null,
            
            loggedIn: false,
            isMobile: false,
            htmlContent: null,
            selectedPage: null,
            websitePages: [],
            showCreateQuestion: false,
            questionsCompleted: true,

            // decisions
            users: [],
            index:0,

        },
        mounted: function () {
            ModalProfileComponent.accountService = accountService;
            this.websitePages = vmieData.websitePages;

            let page = this.websitePages.find(p=> p.id == 'Developer');
            let pageId = this.apiService.findGetParameter('page');
            if(pageId){
                let hrefPage = this.websitePages.find(p=> p.id == pageId);
                if(hrefPage){
                    page = hrefPage;
                    this.selectedPage = page;
                    if(page.id == 'Board'){
                    }
                }
            }

            this.loadProjects();
            this.renderPage(this.selectedPage);
            chatService.initialize(apiService, accountService, this.bus, this.messengerScopeId);
            accountService.initialize(apiService, this.chat, this.bus);
        },
        computed: {
        },
        methods: {
            selectTask(task){
                task.follow = !task.follow;
                this.apiService.postData("https://vmie.org:5000/api/tasks/" + task.id + "/subscribe/" + (task.follow ? 'true':'false'), null, this.taskSubscribed);
            },
            taskSubscribed(taskSubscription){

            },
            startOver(){
                this.questions.forEach(p=>p.response = null);
                this.questionIndex = 0;
                this.questionsCompleted = false;
                this.moveNext(0);
            },
            moveNext(offset){
                if(!this.questions.find(p=>!p.response)){
                    this.questionsCompleted = true;
                    return;
                }

                this.questionIndex += offset;
                if(this.questionIndex < 0){
                    this.questionIndex = 0;
                }
                if(this.questionIndex >= this.questions.length){
                    this.questionIndex = this.questions.length - 1;
                }
                this.question = this.questions[this.questionIndex];
            },
            getProjectUrlByTitle(title){
                var page = this.websitePages.find(p=> p.title == title);
                return page ? '../'+ page.url +'?page=' + page.id : '?';
            },
            loadTasks(){
                apiService.getData("https://vmie.org:5000/api/tasks/list", this.tasksListReceived);
            },
            tasksListReceived(tasks){
                this.tasks = tasks;
                tasks.forEach(p=>{
                    let task = this.questions.find(task=>task.id == p.taskId);
                    if(task){
                        task.follow = p.follow;
                    }
                });
            },
            loadProjects(){
                //  sw2if(accountService.simulate)
                {
                    let tasks = [
                        {
                            id: 1,
                            text: "Coco",
                            info: "",
                            details: "",
                            tags: ['Dog, 23 yesrs old, sterilized'],
                            skills: ['no data'],
                            status: 1,
                            follow: 0,
                            editState: false,
                            readMore: false,
                            response: null,
                            responses: [null, null, null],
                        },
                        {
                            id: 3,
                            text: "Didi",
                            info: "",
                            details: "",
                            tags: ['Cat, 2 years old, vaccinated'],
                            skills: ['no data'],
                            status: 1,
                            follow: 0,
                            editState: false,
                            readMore: false,
                            response: null,
                            responses: [null, null, null],
                        },
                    ];
                    this.question = tasks[0];
                    this.questionsListReceived(tasks);
                    return;
                }
                apiService.postData("https://vmie.org:5000/api/chat/questions", { take: 50 }, this.questionsListReceived);
            },
            questionsListReceived(questions){
                questions.forEach(p => { 
                    p.response = null;
                    p.deleted = 0;
                    p.readMore = false;
                });
                this.questions = questions;
            },
            setResponse(question, response, position){
                if(position >= 0){
                    question.responses[position] = response;
                    this.index++;
                }
                else{
                    question.response = response;
                }
                setTimeout(this.moveNext, 500, 1);                
            },

            // users listing
            usesListeceived(users){
                this.users = users;
            },

            // user management 
            bus(event){
                if(event == 'UserUpdated'){
                    this.loadProjects();
                    chatService.loadMessages();
                    this.loadTasks();
                }
            },
            chat(messsage){
                chatService.receivedMessages(messsage);
            },


            // page utilities
            renderPage(page){
                this.websitePages.forEach(page => {
                    page.isSelected = false;
                });
                apiService.getText("./." + page.contentUrl, this.parseContent);
                page.isSelected = true;
            },
            parseContent(content){
                let lines = content.split('\n');

                lines = lines.map(line => line.trim());
                var tableBuilder = null;

                this.htmlContent = lines.map(line => {

                    if(!line.length){
                        if(tableBuilder){
                            var table = tableBuilder + "</table></p><p>";
                            tableBuilder = null;
                            return table;
                        }
                        return "</p><p>";
                    }

                    if(line.indexOf('#### ') === 0){
                        return `<h4>${line.substring(5)}</h4>`;
                    }
                    if(line.indexOf('### ') === 0){
                        return `<h3>${line.substring(4)}</h3>`;
                    }
                    else if(line.indexOf('## ') === 0){
                        return `<h2>${line.substring(3)}</h2>`;
                    }
                    else if(line.indexOf('# ') === 0){
                        return `<h1>${line.substring(2)}</h1>`;
                    }
                    else if(line.indexOf('![') === 0){
                        let img = line.substring(line.indexOf('(')+1);
                        let imgSource = img.split(' ')[0];
                        let imgAlt = img.substring(imgSource.length + 2);
                        imgAlt = imgAlt.substring(0, imgAlt.length-2);
                        return `<center style='color: silver; border: 1px solid #ddd'><img src='${imgSource}' alt='${imgAlt}' /><br>${imgAlt}</center>`;
                    }
                    if(line.indexOf('***') >= 0){
                        line = line.replace(/\*\*\*(.*?)\*\*\*/g, '<b><i>$1</i></b>')
                    }
                    else if(line.indexOf('**') >= 0){
                        line = line.replace(/\*\*(.*?)\*\*/g, '<b>$1</b>')
                    }
                 
                    if(line.indexOf('| ') === 0 && line.lastIndexOf(' |') == line.length-2){
                        if(!tableBuilder){
                            tableBuilder = "<table>";
                        }
                        tableBuilder += "<tr><td>" + line.substring(1, line.length-3).split(" | ").join("</td><td>") + "</td></tr>";
                        return null;
                    }

                    if(line.indexOf('-----------') == 0){
                        return '<hr>';
                    }
                    return `${line}<br/>`;
                }).join('');
            },
		}
    });

</script>
<style>
.bin{
    display: inline-block;
    height: 16px;
    width: 16px;
    fill: silver;
}
.bin:hover{
    fill: red;
    width: 22px;
}

.question-area{
background-color: aliceblue;
}
.question{
background-color: rgb(255, 253, 231);
padding: 10px;
border-radius: 10px;
border: 1px solid gray;
}
.question-actions{
    margin: 10px;
    display: inline-block;
padding: 5px 5px;
border-radius: 10px;
border: 1px solid silver;
}
.question-text{
font-weight: bold;
}
.question-info{
font-size: small;
}
.tag{
    background-color: #fffcf7;
    border-radius: 5px;
    padding: 3px 5px;
    color: red
}
.skill{
    background-color: #fffcf7;
    border-radius: 5px;
    padding: 3px 5px;
    font-weight: bold;
    color: green
}
</style>
