<!DOCTYPE html>
<html lang="en-US">
<head>
    <title>vmie.org - profile</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script
    src="https://code.jquery.com/jquery-3.7.1.min.js"
    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
    crossorigin="anonymous"></script>
    <script src="./../lib/vue/vue.js" asp-append-version="true"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./../lib/css/theme.css">
    <!-- theme -->
    <meta property="og:title" content="Veterinary Medicine Information Exchange" />
    <meta property="og:locale" content="en_US" />
    <meta name="description" content="Open standards in Veterinary Medicine Information Exchange" />
    <meta property="og:description" content="Open standards in Veterinary Medicine Information Exchange" />
    <link rel="canonical" href="https://vmie.org" />
    <meta property="og:url" content="https://vmie.org" />
    <meta property="og:site_name" content="Veterinary Medicine Information Exchange" />
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="summary" />
    <meta property="twitter:title" content="Veterinary Medicine Information Exchange" />
    <script type="application/ld+json">
    {"@context":"https://schema.org","@type":"WebSite","description":"Leap Day is a theme for GitHub Pages.","headline":"Leap Day theme","name":"Leap Day theme","url":"https://pages-themes.github.io/leap-day/"}</script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    
    <link rel="stylesheet" href="./../lib/data-tables/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="./../lib/css/mobile.table.css"/>
    <link rel="stylesheet" href="./../lib/bootstrap/css/bootstrap-icons.css">

    <link rel="stylesheet" href="./../lib/css/table.css" />
    <link rel="stylesheet" href="./../lib/css/modal.css" />
    <link rel="stylesheet" href="./../lib/css/chat.css" />
    <link rel="stylesheet" href="./../lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="./../services/accountService.js" /><!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-V2CY4R09SB"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'G-V2CY4R09SB');
    </script>
    <script src="./../lib/moment/moment.min.js"></script>
</head>
<body>
    <div id="app">
        <header style="padding: 0px">
            <div class="disclaimer-banner">{{accountService.disclaimer}}</div>
            <h1>Veterinary Medicine Information Exchange</h1>
            <p>Non-Profit Organization for providing standards on vmie.org</p>
        </header>
          
      <!-- banner start -->
      <div id="banner" @mouseenter="accountService.showComplex = true">
        <span id="logo"></span>

        <a v-if="!accountService.user" href="https://vmie.org:5000/api/linkedin/login" @mouseenter="accountService.loginText = 'Login with Linkedin'" class="button fork">
            <strong>
                <span style="color: blue; font-family: Sans; border: 1px solid blue; border-radius: 2px; padding: 0px 5px">in</span>
                {{accountService.loginText}}
            </strong>
        </a>
        <a v-if="accountService.user" @click="accountService.showProfile()" class="button fork">
            <strong>
                <img :src="accountService.user.avatarUrl" height="18" width="18" style="margin-right: 5px; border: 1px solid white;"/> {{accountService.user.name}}
            </strong>
        </a>     
        
        <div class="downloads">
            <span v-if="!isMobile">vmie:</span>
            <ul>
                <li v-if="!isMobile"><a href="../site/?page=Architecture" class="button">Docs</a></li>
                <li>
                    <a @click="isMobile = !isMobile" class="button">
                        <div style="display: inline-block;">
                            <div class="menu-bar"></div>
                            <div class="menu-bar"></div>
                            <div class="menu-bar"></div>
                        </div>
                    </a>
                </li>
            </ul>
          </div>
      </div>
      <!-- banner end -->

    <div class="wrapper">
        <side-menu-component :account-service="accountService" :parent="this"></side-menu-component>

        <section style="height: auto; background-color: #fffcf7;">
            <pet-header-component :pet-service="petService" :account-service="accountService" :parent="this"></pet-header-component>
        
            <div v-if="isMobile" style="display: inline-block; margin-left: 0px; left: 20px;">
                <span v-for="(page, index) in websitePages" v-if="index > 0 && page.title " 
                     @click="renderPage(page)"><a class="btn btn-light pagename" :class="page.isSelected ? 'active' : ''" :href="'./../'+ page.url +'?page=' + page.id">
                    {{page.id}}
                    </a>
                </span>
                <hr>
            </div> 

            <div v-for="pet in petsList" class="pet-card" v-if="!pet.deleted">
                <div class="question" @click="editPet(pet)">
                    <div class="btn btn-light float-right" @click="selectTask(pet)" v-if="pet.real && !pet.real.deleted">
                        <span style="margin-bottom: 0; color: black">View profile</span>
                    </div>
                    <div class="question-text">
                        <div class="group-container">
                            <div class="group-label">{{pet.type}}</div>
                            {{pet.name}}
                            <small>
                                <div class="skill">{{pet.dob}}</div>
                            </small>
                            <small v-for="tag in pet.tags"><span :href="getProjectUrlByTitle(tag)" class="tag">{{tag}}</span></small>
                        </div>
                    </div>
                </div>
            </div>
            <center>
                <div class="btn btn-primary" @click="loadPets()">Load More...</div>
                <br>
                <br>
            </center>

            <p v-if="htmlContent" v-html="htmlContent"></p>
            <div v-for="pet in petService.petsList" class="pet-card" v-if="!pet.deleted">
                    <div class="question" @click="editPet(pet)">
                        <div class="btn btn-light float-right" @click="selectTask(pet)" v-if="pet.real && !pet.real.deleted">
                            <span style="margin-bottom: 0; color: black">View profile</span>
                        </div>
                        <div class="question-text">
                            <div class="group-container">
                                <div class="group-label">Pseudo identity</div>
                                {{pet.name}}
                                <small v-for="skill in pet.skills"><span class="skill">{{skill}}</span></small>
                                <small v-for="tag in pet.tags"><span :href="getProjectUrlByTitle(tag)" class="tag">{{tag}}</span></small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <br>
            <span @click="showCreateQuestion = true">Conversation:</span>
            <chat-component :chat-service="chatService" :account-service="accountService" :take="5" :scope-id="messengerScopeId"></chat-component>
        </section>

        <div class="float-right">
            <a v-if="!accountService.user" href="https://vmie.org:5000/api/linkedin/login" @mouseenter="accountService.loginText = 'Login with Linkedin'" class="button fork">
                <strong><span style="color: blue; font-family: Sans; border: 1px solid blue; border-radius: 2px; padding: 0px 5px">in</span>
                {{accountService.loginText}}</strong>
            </a>
            <a v-if="accountService.user" @click="accountService.showProfile()" class="button fork">
                Manage your privacy: 
                <strong>
                    {{accountService.user.name}}
                </strong>
            </a>
            <br>
            <br>
        </div>

    </div>
    <footer>
      
        <p>
            <div><small>Code on <a href="https://github.com/vmie-org/website">GitHub</a></small></div>
            <div><small>Hosted on <a href="https://vmie.org">vmie.org</a></small></div>
            <div><small>Linkedin <a href="www.linkedin.com/in/vmie">@vmie</a></small></div>
            <div><small>Slack <a href="https://vmie.slack.com">@vmie</a></small></div>
            <div><small>Dev.to <a href="https://dev.to/vmie">@vmie</a></small></div>
            
        </p>
    </footer>

<!-- USER MODALS -->
<profile-component :parent="accountService"></profile-component>
<!-- USER MODALS -->
   
<!-- CREATE -->


 <!-- CREATE -->
  

</div>
</body>
</html>

<script type="module">
    import { vmieData } from "./../services/vmieService.js";
    import { petService, PetHeaderComponent } from "./../services/petService.js";
    import { apiService } from "./../services/apiService.js";
    import { chatService, ChatComponent } from "./../services/chatService.js";
    import { accountService, ModalProfileComponent, SideMenuCompoonent } from "./../services/accountService.js";

    var app = new Vue({
        el: '#app',
        components: {
            "profile-component":  ModalProfileComponent,
            "chat-component":  ChatComponent,
            "side-menu-component": SideMenuCompoonent,
            "pet-header-component":  PetHeaderComponent,
        },
        data: {
            messengerScopeId: 8,
            taskUsers: [],
            apiService: apiService,
            chatService: chatService,
            accountService: accountService,
            petService: petService,

            petId: null,

            questions: [],
            questionIndex: 0,
            question: {},
            search: null,
            
            loggedIn: false,
            isMobile: false,
            htmlContent: null,
            selectedPage: null,
            websitePages: [],
            showCreateQuestion: false,
            questionsCompleted: true,
            petsList: [],

            // decisions
            users: [],
        },
        mounted: function () {
            ModalProfileComponent.accountService = accountService;
            this.websitePages = vmieData.websitePages;

            let page = this.websitePages.find(p=> p.id == 'Developer');
            this.selectedPage = page;
            let petId = this.apiService.findGetParameter('id');
            if(petId){
                this.petId = parseInt(petId);
            }
            let pageId = this.apiService.findGetParameter('page');
            if(pageId){
                let hrefPage = this.websitePages.find(p=> p.id == pageId);
                if(hrefPage){
                    page = hrefPage;
                    this.selectedPage = page;
                    if(page.id == 'Board'){
                    }
                }
            }

            this.loadPets();
            this.renderPage(this.selectedPage);
            chatService.initialize(apiService, accountService, this.bus, this.messengerScopeId);
            petService.initialize(apiService, accountService, this.chat, this.bus);
            accountService.initialize(apiService, this.chat, this.bus);
        },
        computed: {
        },
        methods: {
            selectTask(task){
                task.follow = !task.follow;
                this.apiService.postData("https://vmie.org:5000/api/tasks/" + task.id + "/subscribe/" + (task.follow ? 'true':'false'), null, this.taskSubscribed);
            },
            taskSubscribed(taskSubscription){

            },
            startOver(){
                this.questions.forEach(p=>p.response = null);
                this.questionIndex = 0;
                this.questionsCompleted = false;
                this.moveNext(0);
            },
            moveNext(offset){
                if(!this.questions.find(p=>!p.response)){
                    this.questionsCompleted = true;
                    return;
                }

                this.questionIndex += offset;
                if(this.questionIndex < 0){
                    this.questionIndex = 0;
                }
                if(this.questionIndex >= this.questions.length){
                    this.questionIndex = this.questions.length - 1;
                }
                this.question = this.questions[this.questionIndex];
            },
            getProjectUrlByTitle(title){
                var page = this.websitePages.find(p=> p.title == title);
                return page ? '../'+ page.url +'?page=' + page.id : '?';
            },
            loadTasks(){
                apiService.getData("https://vmie.org:5000/api/tasks/list", this.tasksListReceived);
            },
            tasksListReceived(tasks){
                this.tasks = tasks;
                tasks.forEach(p=>{
                    let task = this.questions.find(task=>task.id == p.taskId);
                    if(task){
                        task.follow = p.follow;
                    }
                });
            },
            loadPets(){
                if(true || this.accountService.simulate){
                    let pets = [];
                    let rnd = parseInt(Math.random(100)*100);
                    let petType = petService.petTypes[rnd % petService.petTypes.length];
                    let time = parseInt(moment().unix()*1000);
                    
                    let pet = {
                        id: this.petId,
                        scopeId: 0,
                        userId: 9,
                        name: petService.generatePetName(time),
                        weight: 5,
                        dob: petService.humanAge(time - 4000 * rnd * 100000),
                        type: petType.name,
                        created: time,
                        updated: 0,
                        deleted: 0,
                        deletedBy: null,
                        customOffset: 0
                    };
                    pets.push(pet);
                    this.petsListReceived(pets);
                    return;
                }
                apiService.postData("https://vmie.org:5000/api/pet/list", { take: 50 }, this.questionsListReceived);
            },
            petsListReceived(petsList){
                petsList.forEach(pet => { 
                    pet.response = null;
                    pet.deleted = 0;
                    pet.readMore = false;
                    this.petsList.push(pet);
                });
            },
            setResponse(question, response){
                question.response = response;
                setTimeout(this.moveNext, 500, 1);                
            },

            // users listing
            usesListeceived(users){
                this.users = users;
            },

            // user management 
            bus(event){
                if(event == 'UserUpdated'){
                    this.loadPets();
                    petService.loadPets();
                    chatService.loadMessages();
                    this.loadTasks();
                }
            },
            chat(messsage){
                chatService.receivedMessages(messsage);
            },


            // page utilities
            renderPage(page){
                this.websitePages.forEach(page => {
                    page.isSelected = false;
                });
                apiService.getText("./." + page.contentUrl, this.parseContent);
                page.isSelected = true;
            },
            parseContent(content){
                let lines = content.split('\n');

                lines = lines.map(line => line.trim());
                var tableBuilder = null;

                this.htmlContent = lines.map(line => {

                    if(!line.length){
                        if(tableBuilder){
                            var table = tableBuilder + "</table></p><p>";
                            tableBuilder = null;
                            return table;
                        }
                        return "</p><p>";
                    }

                    if(line.indexOf('#### ') === 0){
                        return `<h4>${line.substring(5)}</h4>`;
                    }
                    if(line.indexOf('### ') === 0){
                        return `<h3>${line.substring(4)}</h3>`;
                    }
                    else if(line.indexOf('## ') === 0){
                        return `<h2>${line.substring(3)}</h2>`;
                    }
                    else if(line.indexOf('# ') === 0){
                        return `<h1>${line.substring(2)}</h1>`;
                    }
                    else if(line.indexOf('![') === 0){
                        let img = line.substring(line.indexOf('(')+1);
                        let imgSource = img.split(' ')[0];
                        let imgAlt = img.substring(imgSource.length + 2);
                        imgAlt = imgAlt.substring(0, imgAlt.length-2);
                        return `<center style='color: silver; border: 1px solid #ddd'><img src='${imgSource}' alt='${imgAlt}' /><br>${imgAlt}</center>`;
                    }
                    if(line.indexOf('***') >= 0){
                        line = line.replace(/\*\*\*(.*?)\*\*\*/g, '<b><i>$1</i></b>')
                    }
                    else if(line.indexOf('**') >= 0){
                        line = line.replace(/\*\*(.*?)\*\*/g, '<b>$1</b>')
                    }
                 
                    if(line.indexOf('| ') === 0 && line.lastIndexOf(' |') == line.length-2){
                        if(!tableBuilder){
                            tableBuilder = "<table>";
                        }
                        tableBuilder += "<tr><td>" + line.substring(1, line.length-3).split(" | ").join("</td><td>") + "</td></tr>";
                        return null;
                    }

                    if(line.indexOf('-----------') == 0){
                        return '<hr>';
                    }
                    return `${line}<br/>`;
                }).join('');
            },
		}
    });

</script>
<style>
.bin{
    display: inline-block;
    height: 16px;
    width: 16px;
    fill: silver;
}
.bin:hover{
    fill: red;
    width: 22px;
}

.question-area{
background-color: aliceblue;
}
.question{
background-color: rgb(255, 253, 231);
padding: 10px;
border-radius: 10px;
border: 1px solid gray;
}
.question-actions{
    margin: 10px;
    display: inline-block;
padding: 5px 5px;
border-radius: 10px;
border: 1px solid silver;
}
.question-text{
font-weight: bold;
}
.question-info{
font-size: small;
}
.tag{
    background-color: #fffcf7;
    border-radius: 5px;
    padding: 3px 5px;
    color: red
}
.skill{
    background-color: #fffcf7;
    border-radius: 5px;
    padding: 3px 5px;
    font-weight: bold;
    color: green
}
</style>
