<!DOCTYPE html>
<html lang="en-US">
<head>
    <title>vmie.org - profile</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script
    src="https://code.jquery.com/jquery-3.7.1.min.js"
    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
    crossorigin="anonymous"></script>
    <script src="./../lib/vue/vue.js" asp-append-version="true"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./../lib/css/theme.css">
    <!-- theme -->
    <meta property="og:title" content="Veterinary Medicine Information Exchange" />
    <meta property="og:locale" content="en_US" />
    <meta name="description" content="Open standards in Veterinary Medicine Information Exchange" />
    <meta property="og:description" content="Open standards in Veterinary Medicine Information Exchange" />
    <link rel="canonical" href="https://vmie.org" />
    <meta property="og:url" content="https://vmie.org" />
    <meta property="og:site_name" content="Veterinary Medicine Information Exchange" />
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="summary" />
    <meta property="twitter:title" content="Veterinary Medicine Information Exchange" />
    <script type="application/ld+json">
    {"@context":"https://schema.org","@type":"WebSite","description":"Leap Day is a theme for GitHub Pages.","headline":"Leap Day theme","name":"Leap Day theme","url":"https://pages-themes.github.io/leap-day/"}</script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    
    <link rel="stylesheet" href="./../lib/data-tables/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="./../lib/css/mobile.table.css"/>
    <link rel="stylesheet" href="./../lib/bootstrap/css/bootstrap-icons.css">

    <link rel="stylesheet" href="./../lib/css/table.css" />
    <link rel="stylesheet" href="./../lib/css/modal.css" />
    <link rel="stylesheet" href="./../lib/css/chat.css" />
    <link rel="stylesheet" href="./../lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="./../services/accountService.js" /><!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-V2CY4R09SB"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'G-V2CY4R09SB');
    </script>
    <script src="./../lib/moment/moment.min.js"></script>
</head>
<body>
    <div id="app">
        <header style="padding: 0px">
            <div class="disclaimer-banner">{{accountService.disclaimer}}</div>
            <h1>Veterinary Medicine Information Exchange</h1>
            <p>Non-Profit Organization for providing standards on vmie.org</p>
          </header>
          
      <!-- banner start -->
      <div id="banner" @mouseenter="accountService.showComplex = true">
        <span id="logo"></span>

        <a v-if="!accountService.user" href="https://vmie.org:5000/api/linkedin/login" @mouseenter="accountService.loginText = 'Login with Linkedin'" class="button fork">
            <strong>
                <span style="color: blue; font-family: Sans; border: 1px solid blue; border-radius: 2px; padding: 0px 5px">in</span>
                {{accountService.loginText}}
            </strong>
        </a>
        <a v-if="accountService.user" @click="accountService.showProfile()" class="button fork">
            <strong>
                <img :src="accountService.user.avatarUrl" height="18" width="18" style="margin-right: 5px; border: 1px solid white;"/> {{accountService.user.name}}
            </strong>
        </a>     
        
        <div class="downloads">
            <span v-if="!isMobile">vmie:</span>
            <ul>
                <li v-if="!isMobile"><a href="../site/?page=Architecture" class="button">Docs</a></li>
                <li>
                    <a @click="isMobile = !isMobile" class="button"><div style="display: inline-block;">
                        <div class="menu-bar"></div>
                        <div class="menu-bar"></div>
                        <div class="menu-bar"></div>
                    </div>
                    </a>
                </li>
            </ul>
          </div>
      </div>
      <!-- banner end -->

    <div class="wrapper">
        <side-menu-component :account-service="accountService" :parent="this"></side-menu-component>

        <section style="height: auto; background-color: #fffcf7;">

            <div v-if="isMobile" style="display: inline-block; margin-left: 0px; left: 20px;">
                <span v-for="(page, index) in websitePages" v-if="index > 0 && page.title " 
                     @click="renderPage(page)"><a class="btn btn-light pagename" :class="page.isSelected ? 'active' : ''" :href="'./../'+ page.url +'?page=' + page.id">
                    {{page.id}}
                </a></span>
                <hr>
            </div> 

            <p v-if="htmlContent" v-html="htmlContent"></p>

            
            <div class="question-area" v-if="!questionsCompleted">
                <div class="question-status">
                    <span class="btn btn-light" @click="moveNext(-1)">Next repo</span>
                    <span class="btn btn-light float-right" @click="moveNext(+1)">Prew repo</span>
                </div>
                <div class="question">
                    <div class="question-text">
                        {{question.text}}
                    </div>
                    <div class="question-info">
                        {{question.info}}
                    </div>
                </div>
                <div>
                    <center >
                        <span class="question-actions">
                        <span class="text-secondary">Fits me: </span>
                        <span :class="!question.response || question.response == 1 ? 'btn btn-primary':'btn btn-light'" @click="setResponse(question, 1)">1</span>
                        <span :class="!question.response || question.response == 2 ? 'btn btn-primary':'btn btn-light'" @click="setResponse(question, 2)">2</span>
                        <span :class="!question.response || question.response == 3 ? 'btn btn-primary':'btn btn-light'" @click="setResponse(question, 3)">3</span>
                        <span :class="!question.response || question.response == 4 ? 'btn btn-primary':'btn btn-light'" @click="setResponse(question, 4)">4</span>
                        <span :class="!question.response || question.response == 5 ? 'btn btn-primary':'btn btn-light'" @click="setResponse(question, 5)">5</span>
                            <div>
                                <hr style="width: 2px; margin: 5px 0px 5px 0px; border: 1px solid #eee; width: 100%">
                                <small class="text-secondary">1 means I love it, 5 means not for me</small>
                            </div>
                    </span>
                </center>
                </div>
            </div>
            <div v-if="questionsCompleted">

                <span class="btn btn-light float-right" @click="startOver()">Does it fit?</span>
                <br>
                Public repos:
                <br>

                <div v-for="question in questions" style="margin-bottom: 5px;" v-if="!question.deleted">
                    <div class="question">
                        <div class="btn btn-light float-right" @click="selectTask(question)">
                            <input type="checkbox" v-model="question.follow" :id="'task_' + question.id"> 
                            <label :for="'task_' + question.id" style="margin-bottom: 0">I like this</label>
                        </div>
                        <div class="question-text">
                            <a :href="question.git" style="font-weight: bold; color: black;">{{question.text}}</a>
                            <small v-for="skill in question.skills"><span class="skill">{{skill}}</span></small>
                            <small v-for="tag in question.tags"><a :href="getProjectUrlByTitle(tag)" class="tag">{{tag}}</a></small>
                        </div>
                        <div class="text-secondary"> {{question.info}} <small class="text-primary"><span @click="question.readMore = !question.readMore" v-if="question.status">read more</span></small></div>
                        <div v-if="question.readMore"> 
                            {{question.details}}
                            <div style="color: gray">
                                <div v-for="link in question.links"><a :href="question.git" style="font-weight: bold; color: black;">{{link.title}}</a> {{link.info}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <b>If you wish to use or contribute please check with the maintainers via GitHub.</b>

            <br>
            <span @click="showCreateQuestion = true">Conversation:</span>
            <chat-component :chat-service="chatService" :account-service="accountService" :take="5" :scope-id="messengerScopeId"></chat-component>
        </section>

        <div class="float-right">
            <a v-if="!accountService.user" href="https://vmie.org:5000/api/linkedin/login" @mouseenter="accountService.loginText = 'Login with Linkedin'" class="button fork">
                <strong><span style="color: blue; font-family: Sans; border: 1px solid blue; border-radius: 2px; padding: 0px 5px">in</span>
                {{accountService.loginText}}</strong>
            </a>
            <a v-if="accountService.user" @click="accountService.showProfile()" class="button fork">
                Manage your privacy: <strong>
                    {{accountService.user.name}}
                </strong>
            </a>
            <br>
            <br>
        </div>

    </div>
    <footer>
      
        <p>
            <div><small>Code on <a href="https://github.com/vmie-org/website">GitHub</a></small></div>
            <div><small>Hosted on <a href="https://vmie.org">vmie.org</a></small></div>
            <div><small>Linkedin <a href="www.linkedin.com/in/vmie">@vmie</a></small></div>
            <div><small>Slack <a href="https://vmie.slack.com">@vmie</a></small></div>
            <div><small>Dev.to <a href="https://dev.to/vmie">@vmie</a></small></div>
            
        </p>
    </footer>

<!-- USER MODALS -->
<profile-component :parent="accountService"></profile-component>
<!-- USER MODALS -->
   
<!-- CREATE -->

<transition name="modal" v-cloak>
    <div class="modal-mask" v-if="accountService.user && showCreateQuestion">
       <div class="modal-wrapper">
          <div class="modal-container" :class="accountService.isMobile?'mobile':'w600'" :style="accountService.isMobile?'max-height:'+window.innerHeight+'px':''">
             <div>
                <div class="card" style="background-color: #F8F8F8;">
                   <div class="card-header">
                      <span class="card-title">
                      <span>Create question</span>
                      </span>
                      <div class="float-right">
                         <div class="btn btn-light" v-on:click="showCreateQuestion = false" >
                            x
                         </div>
                      </div>
                   </div>
                   <div class="card-body">
                      <p>
                         Add tags
                      </p>
                      <hr>


                      
                Tags:
                <div class="message-area">
                </span>
            </div>
            Question:
                      
                   </div>
                   <div class="card-footer">
                      <div class="float-right" >
                        <div class="btn btn-secondary" v-on:click="showCreateQuestion = false">Close</div>
                        <div class="btn btn-primary" v-on:click="showCreateQuestion = false">Save</div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </transition>

 <!-- CREATE -->
  

</div>
</body>
</html>

<script type="module">
    import { vmieData } from "./../services/vmieService.js";
    import { apiService } from "./../services/apiService.js";
    import { chatService, ChatComponent } from "./../services/chatService.js";
    import { accountService, ModalProfileComponent, SideMenuCompoonent } from "./../services/accountService.js";

    var app = new Vue({
        el: '#app',
        components: {
            "profile-component":  ModalProfileComponent,
            "chat-component":  ChatComponent,
            "side-menu-component": SideMenuCompoonent,
        },
        data: {
            messengerScopeId: 4,
            taskUsers: [],
            apiService: apiService,
            chatService: chatService,
            accountService: accountService,

            questions: [],
            questionIndex: 0,
            question: {},
            search: null,
            
            loggedIn: false,
            isMobile: false,
            htmlContent: null,
            selectedPage: null,
            websitePages: [],
            showCreateQuestion: false,
            questionsCompleted: true,

            // decisions
            users: [],
        },
        mounted: function () {
            ModalProfileComponent.accountService = accountService;
            this.websitePages = vmieData.websitePages;

            let page = this.websitePages.find(p=> p.id == 'Developer');
            let pageId = this.apiService.findGetParameter('page');
            if(pageId){
                let hrefPage = this.websitePages.find(p=> p.id == pageId);
                if(hrefPage){
                    page = hrefPage;
                    this.selectedPage = page;
                    if(page.id == 'Board'){
                    }
                }
            }

            this.loadProjects();
            this.renderPage(this.selectedPage);
            chatService.initialize(apiService, accountService, this.bus, this.messengerScopeId);
            accountService.initialize(apiService, this.chat, this.bus);
        },
        computed: {
        },
        methods: {
            selectTask(task){
                task.follow = !task.follow;
                this.apiService.postData("https://vmie.org:5000/api/tasks/" + task.id + "/subscribe/" + (task.follow ? 'true':'false'), null, this.taskSubscribed);
            },
            taskSubscribed(taskSubscription){

            },
            startOver(){
                this.questions.forEach(p=>p.response = null);
                this.questionIndex = 0;
                this.questionsCompleted = false;
                this.moveNext(0);
            },
            moveNext(offset){
                if(!this.questions.find(p=>!p.response)){
                    this.questionsCompleted = true;
                    return;
                }

                this.questionIndex += offset;
                if(this.questionIndex < 0){
                    this.questionIndex = 0;
                }
                if(this.questionIndex >= this.questions.length){
                    this.questionIndex = this.questions.length - 1;
                }
                this.question = this.questions[this.questionIndex];
            },
            getProjectUrlByTitle(title){
                var page = this.websitePages.find(p=> p.title == title);
                return page ? '../'+ page.url +'?page=' + page.id : '?';
            },
            loadTasks(){
                apiService.getData("https://vmie.org:5000/api/tasks/list", this.tasksListReceived);
            },
            tasksListReceived(tasks){
                this.tasks = tasks;
                tasks.forEach(p=>{
                    let task = this.questions.find(task=>task.id == p.taskId);
                    if(task){
                        task.follow = p.follow;
                    }
                });
            },
            loadProjects(){
                //  sw2if(accountService.simulate)
                {
                    let tasks = [
                        {
                            id: 1,
                            text: "sourmash",
                            info: "Quickly search, compare, and analyze genomic and metagenomic data sets.",
                            git: "https://github.com/sourmash-bio/sourmash",
                            links: [
                                {
                                    title: "joss",
                                    info: "The Journal of Open Source Software",
                                    link: "https://joss.theoj.org/papers/10.21105/joss.06830"
                                }
                            ],
                            details: null,
                            tags: ['Python', 'Rust'],
                            skills: ['analyze', 'genetics'],
                            status: 1,
                            follow: 0,
                            readMore: false,
                            response: null,
                        },
                        {
                            id: 2,
                            text: "VeterinaryMedicineReminder",
                            info: "A fuctional Android/Kotlin app for uploading pet or patient info and serting reminders to administer medicine",
                            git: "https://github.com/Isonomic/VeterinaryMedicineReminder",
                            links: [
                            ],
                            details: null,
                            tags: ['Kotlin'],
                            skills: ['app', 'planning'],
                            status: 1,
                            follow: 0,
                            readMore: false,
                            response: null,
                        },
                        {
                            id: 3,
                            text: "VeterinaryMedicineReminder",
                            info: "A fuctional Android/Kotlin app for uploading pet or patient info and serting reminders to administer medicine",
                            git: "https://github.com/Isonomic/VeterinaryMedicineReminder",
                            links: [
                            ],
                            details: null,
                            tags: ['Kotlin'],
                            skills: ['app', 'planning'],
                            status: 1,
                            follow: 0,
                            readMore: false,
                            response: null,
                        },
                        {
                            id: 3,
                            text: "Vet-Application",
                            info: "Vet-Application for ENSF607 Final Project",
                            git: "https://github.com/B-Attai/Vet-Application",
                            links: [
                            ],
                            details: null,
                            tags: ['JavaScript', 'Java', 'MySQL'],
                            skills: ['app', 'demo'],
                            status: 1,
                            follow: 0,
                            readMore: false,
                            response: null,
                        },
                        {
                            id: 4,
                            text: "ProKlaue",
                            info: "ProKlaue is a biomechanic research project at the Faculty of Veterinary Medicine of the University of Leipzig (Saxony, Germany). The primary goal is to be able to align bone models in a repeatable and deterministic way, as well as to export comparable measures of each bone model over a whole animation for further analysis.",
                            git: "https://github.com/EnReich/ProKlaue",
                            links: [
                            ],
                            details: null,
                            tags: ['JavaScript', 'Java', 'MySQL'],
                            skills: ['Python', 'R', 'Maya'],
                            status: 1,
                            follow: 0,
                            readMore: false,
                            response: null,
                        },
                        {
                            id: 5,
                            text: "vet-specs-ai",
                            info: "Web application using machine learning & artificial intelligence to automatically score ulcerative dermatitis in mice.",
                            git: "https://github.com/EnReich/ProKlaue",
                            links: [
                            ],
                            details: null,
                            tags: ['ai', 'imaging'],
                            skills: ['ai'],
                            status: 1,
                            follow: 0,
                            readMore: false,
                            response: null,
                        },
                        {
                            id: 6,
                            text: "MedicineCalculator-Android",
                            info: "This application is a utility for easily calculating the cost of prescription medications for veterinary clinics. By inputting the type of medication, dosage frequency, and duration, you can calculate the total cost and unit price of the prescribed medication.",
                            git: "https://github.com/koukemo/MedicineCalculator-Android",
                            links: [
                            ],
                            details: null,
                            tags: ['app', 'calculator'],
                            skills: ['Kotlin'],
                            status: 1,
                            follow: 0,
                            readMore: false,
                            response: null,
                        },
                        {
                            id: 7,
                            text: "VetMedData.NET",
                            info: "A .NET Core class library for obtaining structured data on UK-licensed Veterinary Medicines.",
                            git: "https://github.com/Jongmassey/VetMedData.NET",
                            links: [
                            ],
                            details: null,
                            tags: ['app', 'drug'],
                            skills: ['html'],
                            status: 1,
                            follow: 0,
                            readMore: false,
                            response: null,
                        },
                        {
                            id: 8,
                            text: "AxExpress",
                            info: "AxExpress generates a patient anesthetic protocols for small animal veterinary medicine. By incorporating certain variables declared as 'risks' in this program, a patients drug protocol may be adjusted appropriately based on whether a patient has an anesthetic risk or not.",
                            git: "https://github.com/logan-baker/AxExpress",
                            links: [
                            ],
                            details: null,
                            tags: ['app', 'calculator'],
                            skills: ['Ruby', 'html'],
                            status: 1,
                            follow: 0,
                            readMore: false,
                            response: null,
                        },
                        {
                            id: 9,
                            text: "VetMedQuiz",
                            info: "A quiz application for veterinary medicine using Unity C#",
                            git: "https://github.com/SaikoPsyche/VetMedQuiz",
                            links: [
                            ],
                            details: null,
                            tags: ['knowledge', 'quiz'],
                            skills: ['C#'],
                            status: 1,
                            follow: 0,
                            readMore: false,
                            response: null,
                        },
                        {
                            id: 10,
                            text: "UKVetMedicinesDataStandards",
                            info: "UK Veterinary Medicines Data Standards",
                            git: "https://github.com/biospi/UKVetMedicinesDataStandards",
                            links: [
                            ],
                            details: null,
                            tags: ['data', 'standards'],
                            skills: ['doc', 'json'],
                            status: 1,
                            follow: 0,
                            readMore: false,
                            response: null,
                        },
                        {
                            id: 10,
                            text: "VeterinaryManager",
                            info: "The project was conceived as a total solution for the university's veterinary medicine, where the only method to schedule a cat or dog castration was by calling. When we presented this solution, the veterinary sector liked and approved the idea, so we managed to have a solution to a social problem.",
                            git: "https://github.com/molinaiago/VeterinaryManager",
                            links: [
                            ],
                            details: null,
                            tags: ['data', 'management'],
                            skills: ['Kotlin'],
                            status: 1,
                            follow: 0,
                            readMore: false,
                            response: null,
                        },
                        {
                            id: 221,
                            text: "VetDataHub",
                            info: "VetDataHub is an opensource veterinary datasets repository dedicated to advancing veterinary medicine through the sharing and exchange of diverse datasets. The project aims to make opensource veterinary data available to veterinary professionals, researchers, and data scientists from around the world to contribute, discover, and utilize valuable datasets for research, diagnosis, and decision-making in animal health.",
                            git: "https://github.com/Vetdatahub/VetDataHub",
                            links: [
                            ],
                            details: null,
                            tags: ['Python', 'Rust'],
                            skills: ['analyze', 'genetics'],
                            status: 1,
                            follow: 0,
                            readMore: false,
                            response: null,
                        },
                    ];
                    this.question = tasks[0];
                    this.questionsListReceived(tasks);
                    return;
                }
                apiService.postData("https://vmie.org:5000/api/chat/questions", { take: 50 }, this.questionsListReceived);
            },
            questionsListReceived(questions){
                questions.forEach(p => { 
                    p.response = null;
                    p.deleted = 0;
                    p.readMore = false;
                });
                this.questions = questions;
            },
            setResponse(question, response){
                question.response = response;
                setTimeout(this.moveNext, 500, 1);                
            },

            // users listing
            usesListeceived(users){
                this.users = users;
            },

            // user management 
            bus(event){
                if(event == 'UserUpdated'){
                    this.loadProjects();
                    chatService.loadMessages();
                    this.loadTasks();
                }
            },
            chat(messsage){
                chatService.receivedMessages(messsage);
            },


            // page utilities
            renderPage(page){
                this.websitePages.forEach(page => {
                    page.isSelected = false;
                });
                apiService.getText("./." + page.contentUrl, this.parseContent);
                page.isSelected = true;
            },
            parseContent(content){
                let lines = content.split('\n');

                lines = lines.map(line => line.trim());
                var tableBuilder = null;

                this.htmlContent = lines.map(line => {

                    if(!line.length){
                        if(tableBuilder){
                            var table = tableBuilder + "</table></p><p>";
                            tableBuilder = null;
                            return table;
                        }
                        return "</p><p>";
                    }

                    if(line.indexOf('#### ') === 0){
                        return `<h4>${line.substring(5)}</h4>`;
                    }
                    if(line.indexOf('### ') === 0){
                        return `<h3>${line.substring(4)}</h3>`;
                    }
                    else if(line.indexOf('## ') === 0){
                        return `<h2>${line.substring(3)}</h2>`;
                    }
                    else if(line.indexOf('# ') === 0){
                        return `<h1>${line.substring(2)}</h1>`;
                    }
                    else if(line.indexOf('![') === 0){
                        let img = line.substring(line.indexOf('(')+1);
                        let imgSource = img.split(' ')[0];
                        let imgAlt = img.substring(imgSource.length + 2);
                        imgAlt = imgAlt.substring(0, imgAlt.length-2);
                        return `<center style='color: silver; border: 1px solid #ddd'><img src='${imgSource}' alt='${imgAlt}' /><br>${imgAlt}</center>`;
                    }
                    if(line.indexOf('***') >= 0){
                        line = line.replace(/\*\*\*(.*?)\*\*\*/g, '<b><i>$1</i></b>')
                    }
                    else if(line.indexOf('**') >= 0){
                        line = line.replace(/\*\*(.*?)\*\*/g, '<b>$1</b>')
                    }
                 
                    if(line.indexOf('| ') === 0 && line.lastIndexOf(' |') == line.length-2){
                        if(!tableBuilder){
                            tableBuilder = "<table>";
                        }
                        tableBuilder += "<tr><td>" + line.substring(1, line.length-3).split(" | ").join("</td><td>") + "</td></tr>";
                        return null;
                    }

                    if(line.indexOf('-----------') == 0){
                        return '<hr>';
                    }
                    return `${line}<br/>`;
                }).join('');
            },
		}
    });

</script>
<style>
.bin{
    display: inline-block;
    height: 16px;
    width: 16px;
    fill: silver;
}
.bin:hover{
    fill: red;
    width: 22px;
}

.question-area{
background-color: aliceblue;
}
.question{
background-color: rgb(255, 253, 231);
padding: 10px;
border-radius: 10px;
border: 1px solid gray;
}
.question-actions{
    margin: 10px;
    display: inline-block;
padding: 5px 5px;
border-radius: 10px;
border: 1px solid silver;
}
.question-text{
font-weight: bold;
}
.question-info{
font-size: small;
}
.tag{
    background-color: #fffcf7;
    border-radius: 5px;
    padding: 3px 5px;
    color: red
}
.skill{
    background-color: #fffcf7;
    border-radius: 5px;
    padding: 3px 5px;
    font-weight: bold;
    color: green
}
</style>
